# Data for Prediction coffee price task

In [95]:
import io
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

###  About the data

For price prediction tasks always hard to find an adequate dataset. My task is to collect and preprocess data for such specific tasks.Also create function for filtration data(which will be helpful for people who want to get data and do not have any programming skills)

If you have to work with prices you always need to have economic data such a GDP, GDP per capita,  inflation index (CPI) etc.

In [41]:
df_cpi = pd.read_csv("data/data/CPI.csv")
df_cpi

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUT,CPI,TOT,AGRWTH,M,1973-09,6.543496,NaN
1,AUT,CPI,TOT,AGRWTH,M,1973-10,7.012194,NaN
2,AUT,CPI,TOT,AGRWTH,M,1973-11,7.966616,NaN
3,AUT,CPI,TOT,AGRWTH,M,1973-12,7.849054,NaN
4,AUT,CPI,TOT,AGRWTH,M,1974-01,8.128263,NaN
5,AUT,CPI,TOT,AGRWTH,M,1974-02,8.389013,NaN
6,AUT,CPI,TOT,AGRWTH,M,1974-03,8.962962,NaN
7,AUT,CPI,TOT,AGRWTH,M,1974-04,9.741698,NaN
8,AUT,CPI,TOT,AGRWTH,M,1974-05,9.632352,NaN
9,AUT,CPI,TOT,AGRWTH,M,1974-06,10.218980,NaN
10,AUT,CPI,TOT,AGRWTH,M,1974-07,10.043670,NaN
11,AUT,CPI,TOT,AGRWTH,M,1974-08,9.905999,NaN
12,AUT,CPI,TOT,AGRWTH,M,1974-09,10.115610,NaN
13,AUT,CPI,TOT,AGRWTH,M,1974-10,9.971509,NaN
14,AUT,CPI,TOT,AGRWTH,M,1974-11,9.416725,NaN
15,AUT,CPI,TOT,AGRWTH,M,1974-12,9.657104,NaN
16,AUT,CPI,TOT,AGRWTH,M,1975-01,9.241379,NaN
17,AUT,CPI,TOT,AGRWTH,M,1975-02,9.589040,NaN
18,AUT,CPI,TOT,AGRWTH,M,1975-03,9.245413,NaN
19,AUT,CPI,TOT,AGRWTH,M,1975-04,8.607933,NaN
20,AUT,CPI,TOT,AGRWTH,M,1975-05,8.584843,NaN
21,AUT,CPI,TOT,AGRWTH,M,1975-06,8.344373,NaN
22,AUT,CPI,TOT,AGRWTH,M,1975-07,8.928571,NaN
23,AUT,CPI,TOT,AGRWTH,M,1975-08,8.815792,NaN
24,AUT,CPI,TOT,AGRWTH,M,1975-09,8.727035,NaN
25,AUT,CPI,TOT,AGRWTH,M,1975-10,7.707254,NaN
26,AUT,CPI,TOT,AGRWTH,M,1975-11,7.000643,NaN
27,AUT,CPI,TOT,AGRWTH,M,1975-12,6.764520,NaN
28,AUT,CPI,TOT,AGRWTH,M,1976-01,7.260101,NaN
29,AUT,CPI,TOT,AGRWTH,M,1976-02,7.312501,NaN
...,...,...,...,...,...,...,...,...
23384,G-20,CPI,TOT,AGRWTH,M,2016-06,2.208984,NaN
23385,G-20,CPI,TOT,AGRWTH,M,2016-07,2.166684,NaN
23386,G-20,CPI,TOT,AGRWTH,M,2016-08,2.059326,NaN
23387,G-20,CPI,TOT,AGRWTH,M,2016-09,2.171403,NaN
23388,G-20,CPI,TOT,AGRWTH,M,2016-10,2.227141,NaN
23389,G-20,CPI,TOT,AGRWTH,M,2016-11,2.174860,NaN
23390,G-20,CPI,TOT,AGRWTH,M,2016-12,2.265617,NaN
23391,G-20,CPI,TOT,AGRWTH,M,2017-01,2.586998,NaN
23392,G-20,CPI,TOT,AGRWTH,M,2017-02,2.472440,NaN
23393,G-20,CPI,TOT,AGRWTH,M,2017-03,2.332839,NaN
23394,G-20,CPI,TOT,AGRWTH,M,2017-04,2.362943,NaN
23395,G-20,CPI,TOT,AGRWTH,M,2017-05,2.159642,NaN
23396,G-20,CPI,TOT,AGRWTH,M,2017-06,2.027744,NaN
23397,G-20,CPI,TOT,AGRWTH,M,2017-07,2.037013,NaN
23398,G-20,CPI,TOT,AGRWTH,M,2017-08,2.261554,NaN
23399,G-20,CPI,TOT,AGRWTH,M,2017-09,2.367284,NaN
23400,G-20,CPI,TOT,AGRWTH,M,2017-10,2.315590,NaN
23401,G-20,CPI,TOT,AGRWTH,M,2017-11,2.481216,NaN
23402,G-20,CPI,TOT,AGRWTH,M,2017-12,2.471924,NaN
23403,G-20,CPI,TOT,AGRWTH,M,2018-01,2.697266,B
23404,G-20,CPI,TOT,AGRWTH,M,2018-02,2.900554,NaN
23405,G-20,CPI,TOT,AGRWTH,M,2018-03,2.767724,NaN
23406,G-20,CPI,TOT,AGRWTH,M,2018-04,2.704374,NaN
23407,G-20,CPI,TOT,AGRWTH,M,2018-05,2.876968,NaN
23408,G-20,CPI,TOT,AGRWTH,M,2018-06,3.099050,NaN
23409,G-20,CPI,TOT,AGRWTH,M,2018-07,3.429735,NaN
23410,G-20,CPI,TOT,AGRWTH,M,2018-08,3.485646,NaN
23411,G-20,CPI,TOT,AGRWTH,M,2018-09,3.586522,NaN
23412,G-20,CPI,TOT,AGRWTH,M,2018-10,3.757691,NaN
23413,G-20,CPI,TOT,AGRWTH,M,2018-11,3.429091,NaN

In [311]:
print(df_cpi.loc[df_cpi['LOCATION'] == 'G-20'])

      LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME     Value  \
23151     G-20       CPI     TOT  AGRWTH         M  1997-01  6.361176
23152     G-20       CPI     TOT  AGRWTH         M  1997-02  6.907622
23153     G-20       CPI     TOT  AGRWTH         M  1997-03  6.847042
23154     G-20       CPI     TOT  AGRWTH         M  1997-04  6.637257
23155     G-20       CPI     TOT  AGRWTH         M  1997-05  6.357409
23156     G-20       CPI     TOT  AGRWTH         M  1997-06  6.386577
23157     G-20       CPI     TOT  AGRWTH         M  1997-07  6.354733
23158     G-20       CPI     TOT  AGRWTH         M  1997-08  6.430053
23159     G-20       CPI     TOT  AGRWTH         M  1997-09  6.513065
23160     G-20       CPI     TOT  AGRWTH         M  1997-10  6.598963
23161     G-20       CPI     TOT  AGRWTH         M  1997-11  6.492941
23162     G-20       CPI     TOT  AGRWTH         M  1997-12  6.492685
23163     G-20       CPI     TOT  AGRWTH         M  1998-01  6.627069
23164     G-20       CPI     TOT  AGRWTH         M  1998-02  6.200329
23165     G-20       CPI     TOT  AGRWTH         M  1998-03  5.978052
23166     G-20       CPI     TOT  AGRWTH         M  1998-04  5.871264
23167     G-20       CPI     TOT  AGRWTH         M  1998-05  6.076846
23168     G-20       CPI     TOT  AGRWTH         M  1998-06  6.106717
23169     G-20       CPI     TOT  AGRWTH         M  1998-07  6.356552
23170     G-20       CPI     TOT  AGRWTH         M  1998-08  6.390753
23171     G-20       CPI     TOT  AGRWTH         M  1998-09  7.487845
23172     G-20       CPI     TOT  AGRWTH         M  1998-10  7.724962
23173     G-20       CPI     TOT  AGRWTH         M  1998-11  7.880273
23174     G-20       CPI     TOT  AGRWTH         M  1998-12  7.919257
23175     G-20       CPI     TOT  AGRWTH         M  1999-01  7.406679
23176     G-20       CPI     TOT  AGRWTH         M  1999-02  6.980940
23177     G-20       CPI     TOT  AGRWTH         M  1999-03  6.993590
23178     G-20       CPI     TOT  AGRWTH         M  1999-04  7.108647
23179     G-20       CPI     TOT  AGRWTH         M  1999-05  6.838184
23180     G-20       CPI     TOT  AGRWTH         M  1999-06  6.616384
...        ...       ...     ...     ...       ...      ...       ...
23384     G-20       CPI     TOT  AGRWTH         M  2016-06  2.208984
23385     G-20       CPI     TOT  AGRWTH         M  2016-07  2.166684
23386     G-20       CPI     TOT  AGRWTH         M  2016-08  2.059326
23387     G-20       CPI     TOT  AGRWTH         M  2016-09  2.171403
23388     G-20       CPI     TOT  AGRWTH         M  2016-10  2.227141
23389     G-20       CPI     TOT  AGRWTH         M  2016-11  2.174860
23390     G-20       CPI     TOT  AGRWTH         M  2016-12  2.265617
23391     G-20       CPI     TOT  AGRWTH         M  2017-01  2.586998
23392     G-20       CPI     TOT  AGRWTH         M  2017-02  2.472440
23393     G-20       CPI     TOT  AGRWTH         M  2017-03  2.332839
23394     G-20       CPI     TOT  AGRWTH         M  2017-04  2.362943
23395     G-20       CPI     TOT  AGRWTH         M  2017-05  2.159642
23396     G-20       CPI     TOT  AGRWTH         M  2017-06  2.027744
23397     G-20       CPI     TOT  AGRWTH         M  2017-07  2.037013
23398     G-20       CPI     TOT  AGRWTH         M  2017-08  2.261554
23399     G-20       CPI     TOT  AGRWTH         M  2017-09  2.367284
23400     G-20       CPI     TOT  AGRWTH         M  2017-10  2.315590
23401     G-20       CPI     TOT  AGRWTH         M  2017-11  2.481216
23402     G-20       CPI     TOT  AGRWTH         M  2017-12  2.471924
23403     G-20       CPI     TOT  AGRWTH         M  2018-01  2.697266
23404     G-20       CPI     TOT  AGRWTH         M  2018-02  2.900554
23405     G-20       CPI     TOT  AGRWTH         M  2018-03  2.767724
23406     G-20       CPI     TOT  AGRWTH         M  2018-04  2.704374
23407     G-20       CPI     TOT  AGRWTH         M  2018-05  2.876968
23408     G-20       CPI     TOT  AGRWTH         M  2018-06  3.099050
23409     G-20       CPI     TOT  AGRWTH         M  2018-07  3.429735
23410     G-20       CPI     TOT  AGRWTH         M  2018-08  3.485646
23411     G-20       CPI     TOT  AGRWTH         M  2018-09  3.586522
23412     G-20       CPI     TOT  AGRWTH         M  2018-10  3.757691
23413     G-20       CPI     TOT  AGRWTH         M  2018-11  3.429091

      Flag Codes
23151        NaN
23152        NaN
23153        NaN
23154        NaN
23155        NaN
23156        NaN
23157        NaN
23158        NaN
23159        NaN
23160        NaN
23161        NaN
23162        NaN
23163        NaN
23164        NaN
23165        NaN
23166        NaN
23167        NaN
23168        NaN
23169        NaN
23170        NaN
23171        NaN
23172        NaN
23173        NaN
23174        NaN
23175        NaN
23176        NaN
23177        NaN
23178        NaN
23179        NaN
23180        NaN
...          ...
23384        NaN
23385        NaN
23386        NaN
23387        NaN
23388        NaN
23389        NaN
23390        NaN
23391        NaN
23392        NaN
23393        NaN
23394        NaN
23395        NaN
23396        NaN
23397        NaN
23398        NaN
23399        NaN
23400        NaN
23401        NaN
23402        NaN
23403          B
23404        NaN
23405        NaN
23406        NaN
23407        NaN
23408        NaN
23409        NaN
23410        NaN
23411        NaN
23412        NaN
23413        NaN

[263 rows x 8 columns]

In [43]:
df_gdp = pd.read_csv("data/data/GDP.csv")
df_gdp

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.417804e+10,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09
5,Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.078116e+12,1.795820e+12,2.109551e+12,2.501305e+12,2.786139e+12,2.866038e+12,2.906918e+12,2.554480e+12,2.500164e+12,2.591047e+12
6,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.154746e+11,2.535474e+11,2.897873e+11,3.506660e+11,3.745906e+11,3.901076e+11,4.031371e+11,3.581351e+11,3.570451e+11,3.825751e+11
7,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,...,3.615580e+11,3.329765e+11,4.236274e+11,5.301633e+11,5.459824e+11,5.520251e+11,5.263197e+11,5.947493e+11,5.548609e+11,6.375904e+11
8,Armenia,ARM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.166204e+10,8.647937e+09,9.260285e+09,1.014211e+10,1.061932e+10,1.112147e+10,1.160951e+10,1.055334e+10,1.054614e+10,1.153659e+10
9,American Samoa,ASM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630000e+08,6.780000e+08,5.760000e+08,5.740000e+08,6.440000e+08,6.410000e+08,6.430000e+08,6.590000e+08,6.580000e+08,NaN
10,Antigua and Barbuda,ATG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.368431e+09,1.224253e+09,1.152469e+09,1.142043e+09,1.211412e+09,1.192925e+09,1.280133e+09,1.364863e+09,1.460145e+09,1.532398e+09
11,Australia,AUS,GDP (current US$),NY.GDP.MKTP.CD,1.857319e+10,1.964834e+10,1.988801e+10,2.150185e+10,2.375854e+10,2.593124e+10,...,1.052585e+12,9.264482e+11,1.144261e+12,1.394281e+12,1.543411e+12,1.573697e+12,1.464955e+12,1.349034e+12,1.208039e+12,1.323421e+12
12,Austria,AUT,GDP (current US$),NY.GDP.MKTP.CD,6.592694e+09,7.311750e+09,7.756110e+09,8.374175e+09,9.169984e+09,9.994071e+09,...,4.302943e+11,4.001723e+11,3.918927e+11,4.311203e+11,4.094252e+11,4.300687e+11,4.418854e+11,3.820659e+11,3.908000e+11,4.165957e+11
13,Azerbaijan,AZE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.885248e+10,4.429149e+10,5.290270e+10,6.595163e+10,6.968394e+10,7.416444e+10,7.524429e+10,5.307437e+10,3.786752e+10,4.074779e+10
14,Burundi,BDI,GDP (current US$),NY.GDP.MKTP.CD,1.960000e+08,2.030000e+08,2.135000e+08,2.327500e+08,2.607500e+08,1.589950e+08,...,1.611634e+09,1.739781e+09,2.026864e+09,2.355652e+09,2.472385e+09,2.714506e+09,3.093647e+09,3.066681e+09,3.007029e+09,3.477502e+09
15,Belgium,BEL,GDP (current US$),NY.GDP.MKTP.CD,1.165872e+10,1.240015e+10,1.326402e+10,1.426002e+10,1.596011e+10,1.737146e+10,...,5.186259e+11,4.845528e+11,4.835480e+11,5.270085e+11,4.978842e+11,5.209255e+11,5.307710e+11,4.550396e+11,4.675455e+11,4.926813e+11
16,Benin,BEN,GDP (current US$),NY.GDP.MKTP.CD,2.261956e+08,2.356682e+08,2.364349e+08,2.539276e+08,2.698190e+08,2.899087e+08,...,7.132787e+09,7.097199e+09,6.970241e+09,7.814081e+09,8.152554e+09,9.157356e+09,9.707432e+09,8.291156e+09,8.573160e+09,9.273558e+09
17,Burkina Faso,BFA,GDP (current US$),NY.GDP.MKTP.CD,3.304428e+08,3.502472e+08,3.795672e+08,3.940407e+08,4.103218e+08,4.229168e+08,...,8.369637e+09,8.369175e+09,8.979967e+09,1.072406e+10,1.116606e+10,1.194718e+10,1.237739e+10,1.041930e+10,1.144878e+10,1.287311e+10
18,Bangladesh,BGD,GDP (current US$),NY.GDP.MKTP.CD,4.274894e+09,4.817580e+09,5.081413e+09,5.319458e+09,5.386055e+09,5.906637e+09,...,9.163128e+10,1.024778e+11,1.152791e+11,1.286379e+11,1.333557e+11,1.499905e+11,1.728855e+11,1.950787e+11,2.214152e+11,2.497239e+11
19,Bulgaria,BGR,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.440914e+10,5.188448e+10,5.061006e+10,5.741841e+10,5.390302e+10,5.575875e+10,5.673199e+10,5.019910e+10,5.324089e+10,5.683152e+10
20,Bahrain,BHR,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.571088e+10,2.293822e+10,2.571327e+10,2.877660e+10,3.074931e+10,3.253955e+10,3.338771e+10,3.112585e+10,3.215269e+10,3.530713e+10
21,"Bahamas, The",BHS,GDP (current US$),NY.GDP.MKTP.CD,1.698039e+08,1.900980e+08,2.122549e+08,2.377451e+08,2.666667e+08,3.003922e+08,...,1.052600e+10,9.981960e+09,1.009576e+10,1.007045e+10,1.072050e+10,1.062760e+10,1.095730e+10,1.179230e+10,1.183880e+10,1.216210e+10
22,Bosnia and Herzegovina,BIH,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.911274e+10,1.761384e+10,1.717678e+10,1.864472e+10,1.722685e+10,1.817850e+10,1.855834e+10,1.620970e+10,1.691109e+10,1.816858e+10
23,Belarus,BLR,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.076348e+10,4.920952e+10,5.722249e+10,6.175779e+10,6.568510e+10,7.552798e+10,7.881384e+10,5.645473e+10,4.772266e+10,5.444237e+10
24,Belize,BLZ,GDP (current US$),NY.GDP.MKTP.CD,2.807189e+07,2.996437e+07,3.185692e+07,3.374941e+07,3.619383e+07,4.006993e+07,...,1.368625e+09,1.336957e+09,1.397113e+09,1.487006e+09,1.573670e+09,1.612574e+09,1.703951e+09,1.778568e+09,1.820159e+09,1.838000e+09
25,Bermuda,BMU,GDP (current US$),NY.GDP.MKTP.CD,8.446665e+07,8.924999e+07,9.414999e+07,9.636665e+07,1.075667e+08,1.143390e+08,...,6.109928e+09,5.806378e+09,5.744414e+09,5.550771e+09,5.537537e+09,5.573710e+09,NaN,NaN,NaN,NaN
26,Bolivia,BOL,GDP (current US$),NY.GDP.MKTP.CD,5.631101e+08,6.125189e+08,6.697225e+08,7.211430e+08,8.125431e+08,9.088745e+08,...,1.667432e+10,1.733999e+10,1.964963e+10,2.396303e+10,2.708450e+10,3.065934e+10,3.299619e+10,3.300020e+10,3.394113e+10,3.750864e+10
27,Brazil,BRA,GDP (current US$),NY.GDP.MKTP.CD,1.516557e+10,1.523685e+10,1.992629e+10,2.302148e+10,2.121189e+10,2.179004e+10,...,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455994e+12,1.802214e+12,1.793989e+12,2.055506e+12
28,Barbados,BRB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.607300e+09,4.434050e+09,4.461650e+09,4.660900e+09,4.656350e+09,4.612500e+09,4.608350e+09,4.584150e+09,4.529050e+09,4.796846e+09
29,Brunei Darussalam,BRN,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,1.140402e+08,...,1.439310e+10,1.073237e+10,1.370737e+10,1.852532e+10,1.904850e+10,1.809383e+10,1.709834e+10,1.293039e+10,1.140065e+10,1.212809e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,GDP (current US$),NY.GDP.MKTP.CD,7.632394e+10,8.099870e+10,9.331069e+10,9.365012e+10,1.040022e+11,1.116928e+11,...,4.398563e+12,4.118809e+12,5.146370e+12,5.870414e+12,5.925333e+12,6.070270e+12,6.187003e+12,5.278059e+12,5.134442e+12,5.704713e+12
235,Timor-Leste,TLS,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.391333e+09,3.199550e+09,3.998697e+09,5.681941e+09,6.671048e+09,5.649813e+09,4.045378e+09,3.104426e+09,2.521008e+09,2.954621e+09
236,Middle East & North Africa (IDA & IBRD countries),TMN,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.228766e+12,1.188669e+12,1.374621e+12,1.558059e+12,1.716997e+12,1.610655e+12,1.584604e+12,1.422430e+12,1.431082e+12,1.417010e+12
237,Tonga,TON,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.494844e+08,3.181666e+08,3.694852e+08,4.230118e+08,4.723583e+08,4.506864e+08,4.439111e+08,4.354382e+08,4.015620e+08,4.260575e+08
238,South Asia (IDA & IBRD),TSA,GDP (current US$),NY.GDP.MKTP.CD,4.653588e+10,4.963926e+10,5.296996e+10,5.956412e+10,6.820724e+10,7.330213e+10,...,1.515643e+12,1.665591e+12,2.042144e+12,2.272004e+12,2.297911e+12,2.356854e+12,2.581994e+12,2.695273e+12,2.903124e+12,3.291738e+12
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,GDP (current US$),NY.GDP.MKTP.CD,2.992415e+10,3.108149e+10,3.368908e+10,3.862969e+10,3.768953e+10,4.199301e+10,...,1.065865e+12,1.023157e+12,1.364275e+12,1.538451e+12,1.613329e+12,1.702769e+12,1.783849e+12,1.610061e+12,1.512473e+12,1.648714e+12
240,Trinidad and Tobago,TTO,GDP (current US$),NY.GDP.MKTP.CD,5.356701e+08,5.849612e+08,6.193192e+08,6.782354e+08,7.118934e+08,7.365689e+08,...,2.787026e+10,1.917520e+10,2.215795e+10,2.543301e+10,2.562292e+10,2.657852e+10,2.719986e+10,2.440250e+10,2.232001e+10,2.210478e+10
241,Tunisia,TUN,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,9.910476e+08,...,4.485659e+10,4.345494e+10,4.405093e+10,4.581063e+10,4.504411e+10,4.625106e+10,4.758791e+10,4.315671e+10,4.206255e+10,4.025668e+10
242,Turkey,TUR,GDP (current US$),NY.GDP.MKTP.CD,1.399507e+10,8.022222e+09,8.922222e+09,1.035556e+10,1.117778e+10,1.194444e+10,...,7.643357e+11,6.446399e+11,7.719018e+11,8.325237e+11,8.739822e+11,9.505794e+11,9.341859e+11,8.597969e+11,8.637216e+11,8.511024e+11
243,Tuvalu,TUV,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.029022e+07,2.710108e+07,3.182352e+07,3.871183e+07,3.767173e+07,3.750912e+07,3.729059e+07,3.555604e+07,3.657261e+07,3.973132e+07
244,Tanzania,TZA,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.736839e+10,2.857378e+10,3.140791e+10,3.387863e+10,3.908775e+10,4.441362e+10,4.821973e+10,4.562349e+10,4.738840e+10,5.209032e+10
245,Uganda,UGA,GDP (current US$),NY.GDP.MKTP.CD,4.230084e+08,4.415241e+08,4.490126e+08,5.161478e+08,5.890566e+08,8.848739e+08,...,1.423903e+10,1.816890e+10,2.018650e+10,2.017603e+10,2.311429e+10,2.459955e+10,2.729188e+10,2.710265e+10,2.407893e+10,2.589106e+10
246,Ukraine,UKR,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.799924e+11,1.172278e+11,1.360132e+11,1.631597e+11,1.757814e+11,1.833101e+11,1.335034e+11,9.103096e+10,9.327048e+10,1.121542e+11
247,Upper middle income,UMC,GDP (current US$),NY.GDP.MKTP.CD,1.864658e+11,1.701712e+11,1.789028e+11,1.968965e+11,2.155423e+11,2.407044e+11,...,1.315885e+13,1.268526e+13,1.536243e+13,1.836527e+13,1.970327e+13,2.098177e+13,2.170348e+13,2.021076e+13,2.010892e+13,2.216842e+13
248,Uruguay,URY,GDP (current US$),NY.GDP.MKTP.CD,1.242289e+09,1.547389e+09,1.710004e+09,1.539681e+09,1.975702e+09,1.890769e+09,...,3.036621e+10,3.166091e+10,4.028448e+10,4.796244e+10,5.126439e+10,5.753123e+10,5.723601e+10,5.327430e+10,5.268761e+10,5.615697e+10
249,United States,USA,GDP (current US$),NY.GDP.MKTP.CD,5.433000e+11,5.633000e+11,6.051000e+11,6.386000e+11,6.858000e+11,7.437000e+11,...,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.742761e+13,1.812071e+13,1.862448e+13,1.939060e+13
250,Uzbekistan,UZB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.954944e+10,3.368922e+10,3.933277e+10,4.591519e+10,5.182157e+10,5.769045e+10,6.306708e+10,6.690380e+10,6.706757e+10,4.871769e+10
251,St. Vincent and the Grenadines,VCT,GDP (current US$),NY.GDP.MKTP.CD,1.306656e+07,1.399988e+07,1.452488e+07,1.370822e+07,1.475821e+07,1.510821e+07,...,6.954289e+08,6.749225e+08,6.812260e+08,6.761294e+08,6.929337e+08,7.212071e+08,7.251852e+08,7.566667e+08,7.655556e+08,7.896296e+08
252,"Venezuela, RB",VEN,GDP (current US$),NY.GDP.MKTP.CD,8.736939e+09,9.058121e+09,1.002200e+10,1.082388e+10,9.111000e+09,9.496244e+09,...,3.159534e+11,3.297876e+11,3.931924e+11,3.164822e+11,3.812862e+11,3.710054e+11,4.823593e+11,NaN,NaN,NaN
253,British Virgin Islands,VGB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,GDP (current US$),NY.GDP.MKTP.CD,2.420000e+07,2.570000e+07,3.690000e+07,4.140000e+07,5.380000e+07,6.650000e+07,...,4.250000e+09,4.203000e+09,4.339000e+09,4.239000e+09,4.095000e+09,3.764000e+09,3.624000e+09,3.765000e+09,NaN,NaN
255,Vietnam,VNM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.913030e+10,1.060147e+11,1.159317e+11,1.355394e+11,1.558200e+11,1.712220e+11,1.862047e+11,1.932411e+11,2.052762e+11,2.238640e+11
256,Vanuatu,VUT,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.079586e+08,6.100666e+08,7.008043e+08,7.921497e+08,7.817029e+08,8.017876e+08,8.149543e+08,7.379172e+08,7.879426e+08,8.628798e+08
257,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.365887e+12,1.420995e+12,1.526067e+12,1.642848e+12,1.799787e+12,1.960681e+12,...,6.343346e+13,6.013844e+13,6.595667e+13,7.329734e+13,7.496562e+13,7.705059e+13,7.913144e+13,7.484273e+13,7.593681e+13,8.068379e+13
258,Samoa,WSM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.441325e+08,5.609595e+08,6.430467e+08,7.397851e+08,8.011686e+08,8.048085e+08,8.035895e+08,8.039858e+08,7.863563e+08,8.566265e+08
259,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.687488e+09,5.653793e+09,5.829934e+09,6.686683e+09,6.500193e+09,7.073420e+09,7.386891e+09,6.439947e+09,6.715487e+09,7.128691e+09
260,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.691085e+10,2.513027e+10,3.090675e+10,3.272642e+10,3.540133e+10,4.041524e+10,4.322858e+10,3.460248e+10,1.821333e+10,NaN
261,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575248e+09,7.972841e+09,8.497830e+09,9.423212e+09,1.037379e+10,1.133417e+10,...,2.871000e+11,2.972167e+11,3.752981e+11,4.168782e+11,3.963327e+11,3.668294e+11,3.509046e+11,3.177410e+11,2.957627e+11,3.494193e+11
262,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,1.791086e+10,1.532834e+10,2.026556e+10,2.346010e+10,2.550337e+10,2.804546e+10,2.715063e+10,2.115439e+10,2.095475e+10,2.580867e+10
263,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,4.415703e+09,8.621574e+09,1.014186e+10,1.209845e+10,1.424249e+10,1.545177e+10,1.589105e+10,1.630467e+10,1.661996e+10,1.784582e+10

In [44]:
df_gdp_per_c = pd.read_csv("data/data/GDP-per-capita.csv")
df_gdp_per_c.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,27546.899390,24631.434860,24271.940421,25324.720362,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,373.361116,445.893298,553.300289,603.537023,669.009051,638.612543,629.345250,569.577923,561.778746,585.850064
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3868.579014,3347.844900,3531.416878,4299.008136,4539.467689,4804.633826,4707.578098,3683.552607,3308.772828,4170.312280
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4370.539647,4114.136545,4094.358832,4437.178068,4247.614308,4413.081697,4578.666728,3952.830781,4131.872341,4537.862492
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,47785.659086,43339.379875,39736.354063,41098.766942,38391.080867,40619.711298,42294.994727,36038.267604,37231.815671,39146.548836

In [45]:
df_rural = pd.read_csv("data/data/rural-population.csv")
df_rural.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population,SP.RUR.TOTL,26685.0,27297.0,27693.0,27934.0,28108.0,28278.0,...,56978.0,57401.0,57891.0,58231.0,58513.0,58827.0,59121.0,59362.0,59547.0,59692.0
1,Afghanistan,AFG,Rural population,SP.RUR.TOTL,8240568.0,8370722.0,8506983.0,8649584.0,8798513.0,8954113.0,...,20929063.0,21415472.0,21966159.0,22593984.0,23280573.0,23997724.0,24703806.0,25368831.0,25985093.0,26558736.0
2,Angola,AGO,Rural population,SP.RUR.TOTL,5054316.0,5131812.0,5208828.0,5285253.0,5358588.0,5427638.0,...,9077595.0,9237647.0,9398363.0,9559552.0,9720241.0,9878849.0,10032988.0,10183690.0,10329915.0,10472420.0
3,Albania,ALB,Rural population,SP.RUR.TOTL,1114818.0,1146208.0,1180553.0,1214693.0,1248887.0,1282417.0,...,1473922.0,1432259.0,1393502.0,1358266.0,1324613.0,1291587.0,1258985.0,1226200.0,1195854.0,1167112.0
4,Andorra,AND,Rural population,SP.RUR.TOTL,5572.0,5609.0,5616.0,5601.0,5554.0,5482.0,...,9221.0,9365.0,9442.0,9442.0,9372.0,9261.0,9157.0,9093.0,9082.0,9120.0

In [46]:
df_agricul = pd.read_csv("data/data/agricultural-land.csv")
df_agricul.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,11.111111,11.111111,11.111111,11.111111,11.111111,...,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,NaN,NaN
1,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,57.745918,57.837821,57.914407,58.010906,58.013969,...,58.067580,58.067580,58.069111,58.067580,58.067580,58.067580,58.067580,58.067580,NaN,NaN
2,Angola,AGO,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,45.857063,45.881126,45.897169,45.921232,45.937274,...,46.274164,46.755434,46.835646,47.316917,47.316917,47.477340,47.477340,47.477340,NaN,NaN
3,Albania,ALB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,44.963504,44.963504,45.000000,44.890511,45.145985,...,43.102190,43.843066,43.843066,43.832117,43.843066,43.332117,42.857299,42.857664,NaN,NaN
4,Andorra,AND,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,55.319149,55.319149,55.319149,55.319149,55.319149,...,44.170213,44.191489,42.063830,42.063830,39.914894,40.021277,40.021277,40.021277,NaN,NaN

In [183]:
df_coffee = pd.read_csv("data/data/coffee-prices-historical-chart-data.csv")
df_coffee.head()

         date   value
0  1973-09-04  0.6432
1  1973-09-05  0.6370
2  1973-09-06  0.6360
3  1973-09-07  0.6380
4  1973-09-10  0.6335

In [137]:
df_disaster = pd.read_csv("data/data/disaster_in_coffee_region.csv", encoding="ISO-8859-1")
df_disaster.head()

,,,,,,,,,,,sep=,Unnamed: 1
Start date,End date,Country,ISO,Location,Latitude,Longitude,Magnitude value,Magnitude scale,Disaster type,Disaster subtype,Disaster name,Disaster No.
26/03/1973,26/03/1973,Brazil,BRA,"East, Central, along Cartinga",NaN,NaN,NaN,Km2,Flood,--,NaN,1973-0019
/03/1974,/03/1974,Brazil,BRA,Most of the country,NaN,NaN,NaN,Km2,Flood,--,NaN,1974-0015
/05/1974,/05/1974,Brazil,BRA,North East (Ceara),NaN,NaN,NaN,NaN,Landslide,Landslide,NaN,1974-0024
23/10/1974,23/10/1974,Brazil,BRA,Sao Tome,NaN,NaN,NaN,NaN,Landslide,Landslide,NaN,1974-0053

That is all the data I mined. Perfectly I need daily price data (in my case coffee price), daily weather data, daily consumption and production data
As coffee production counties are poor and do not report systematically, I didn't have production data yet.

Also, I have trouble with weather data: a website with data is not available. https://governmentshutdown.noaa.gov/

Other sites give us At most 3 years of weather data, which does not suffice, because Ðµhree years is inconclusive to describe economic trends; therefore, at least a 25-year period must be analyzed.

### Data for second Pipeline

In [118]:
def read_data():
    return pd.read_csv("data/data/GDP.csv"), pd.read_csv("data/data/GDP-per-capita.csv"), pd.read_csv("data/data/agricultural-land.csv"), pd.read_csv("data/data/rural-population.csv") 

def drop_col(df_gdp_per_c, df_gdp, df_agricul, df_rural):
    gdp_per_c = df_gdp_per_c.drop(['Country Name','Indicator Name', 'Indicator Code' ], axis=1)
    gdp = df_gdp.drop(['Country Name','Indicator Name', 'Indicator Code' ], axis=1)
    agricul = df_agricul.drop(['Country Name','Indicator Name', 'Indicator Code' ], axis=1)
    rural = df_rural.drop(['Country Name','Indicator Name', 'Indicator Code' ], axis=1)
    
    return(gdp_per_c, gdp, agricul, rural)

In [119]:
def get_merged_data():
    """
    () => data frame
    
    This function merges four datasets for second pipeline. 
    """
    gdp_per_c, gdp, agricul, rural = read_data()
    gdp_per_c, gdp, agricul, rural = drop_col(gdp_per_c, gdp, agricul, rural)
    gdp.index = gdp['Country Code']
    gdp_per_c.index = gdp['Country Code']
    agricul.index = gdp['Country Code']
    rural.index = gdp['Country Code']
    gdp_per_c = gdp_per_c.T
    agricul = agricul.T
    rural = rural.T
    gdp = gdp.T
    gdp = gdp.drop(['Country Code' ], axis=0)
    gdp_per_c = gdp_per_c.drop(['Country Code' ], axis=0)
    agricul = agricul.drop(['Country Code' ], axis=0)
    rural = rural.drop(['Country Code' ], axis=0)
    gdp.rename(columns=lambda x: x+' GDP', inplace=True)
    gdp_per_c.rename(columns=lambda x: x+' GDP per capita', inplace=True)
    agricul.rename(columns=lambda x: x+' Agricultural land', inplace=True)
    rural.rename(columns=lambda x: x+' Rural pop.', inplace=True)
    main = gdp.join(gdp_per_c).join(agricul).join(rural)
    main.to_csv("data/data/ecomonical_index.csv")
    return main

In [120]:
main = get_merged_data()

In [121]:
# amount of missing values
main.isnull().sum(axis = 0)

Country Code
ABW GDP           40
AFG GDP           19
AGO GDP           20
ALB GDP           24
AND GDP           10
ARB GDP            8
ARE GDP           15
ARG GDP            2
ARM GDP           30
ASM GDP           43
ATG GDP           17
AUS GDP            0
AUT GDP            0
AZE GDP           30
BDI GDP            0
BEL GDP            0
BEN GDP            0
BFA GDP            0
BGD GDP            0
BGR GDP           20
BHR GDP           20
BHS GDP            0
BIH GDP           34
BLR GDP           30
BLZ GDP            0
BMU GDP            4
BOL GDP            0
BRA GDP            0
BRB GDP           14
BRN GDP            5
                  ..
TLA Rural pop.     0
TLS Rural pop.     0
TMN Rural pop.     0
TON Rural pop.     0
TSA Rural pop.     0
TSS Rural pop.     0
TTO Rural pop.     0
TUN Rural pop.     0
TUR Rural pop.     0
TUV Rural pop.     0
TZA Rural pop.     0
UGA Rural pop.     0
UKR Rural pop.     0
UMC Rural pop.     0
URY Rural pop.     0
USA Rural pop.     0
UZB Rural pop.     0
VCT Rural pop.     0
VEN Rural pop.     0
VGB Rural pop.     0
VIR Rural pop.     0
VNM Rural pop.     0
VUT Rural pop.     0
WLD Rural pop.     0
WSM Rural pop.     0
XKX Rural pop.    58
YEM Rural pop.     0
ZAF Rural pop.     0
ZMB Rural pop.     0
ZWE Rural pop.     0
Length: 1056, dtype: int64

In [122]:
main = main.drop(main.loc[:, main.isnull().sum() >10], axis=1)

In [123]:
main.isnull().sum(axis = 0)

Country Code
AND GDP           10
ARB GDP            8
ARG GDP            2
AUS GDP            0
AUT GDP            0
BDI GDP            0
BEL GDP            0
BEN GDP            0
BFA GDP            0
BGD GDP            0
BHS GDP            0
BLZ GDP            0
BMU GDP            4
BOL GDP            0
BRA GDP            0
BRN GDP            5
BWA GDP            0
CAF GDP            0
CAN GDP            0
CHE GDP           10
CHL GDP            0
CHN GDP            0
CIV GDP            0
CMR GDP            0
COD GDP            0
COG GDP            0
COL GDP            0
CRI GDP            0
CSS GDP            0
DEU GDP           10
                  ..
TKM Rural pop.     0
TLA Rural pop.     0
TLS Rural pop.     0
TMN Rural pop.     0
TON Rural pop.     0
TSA Rural pop.     0
TSS Rural pop.     0
TTO Rural pop.     0
TUN Rural pop.     0
TUR Rural pop.     0
TUV Rural pop.     0
TZA Rural pop.     0
UGA Rural pop.     0
UKR Rural pop.     0
UMC Rural pop.     0
URY Rural pop.     0
USA Rural pop.     0
UZB Rural pop.     0
VCT Rural pop.     0
VEN Rural pop.     0
VGB Rural pop.     0
VIR Rural pop.     0
VNM Rural pop.     0
VUT Rural pop.     0
WLD Rural pop.     0
WSM Rural pop.     0
YEM Rural pop.     0
ZAF Rural pop.     0
ZMB Rural pop.     0
ZWE Rural pop.     0
Length: 787, dtype: int64

In [124]:
main.fillna(main.mean(), inplace=True)

In [128]:
def cleaning_data(dataset):
    dataset = dataset.drop(dataset.loc[:, dataset.isnull().sum() >10], axis=1)
    dataset.fillna(dataset.mean(), inplace=True)
    return dataset

In [125]:
def data_by_county( dataset, countries=None):
    """
    returns ready-to-use dataframe with economic indexes by country
    
    The data can be used for any economic prediction tasks.   
    
    """

    column = []
    if countries==None:
        return dataset
    else:
        for country in countries:
            for col in dataset.columns:
                if country in col:
                    column.append(col)
    return dataset[column]

In [129]:
# usage of pipelene
d = data_by_county(cleaning_data(get_merged_data()), ['BRA', 'ZWE'])

In [117]:
d

Country Code,BRA GDP,BRA GDP per capita,BRA Agricultural land,BRA Rural pop.,ZWE GDP,ZWE GDP per capita,ZWE Agricultural land,ZWE Rural pop.
1960,1.516557e+10,210.027470,27.959874,38891711.0,1.052990e+09,280.994586,34.917175,3274901.0
1961,1.523685e+10,204.929302,18.010108,39315725.0,1.096647e+09,283.315869,28.396019,3374486.0
1962,1.992629e+10,260.225266,18.654031,39742281.0,1.117602e+09,279.440989,28.615743,3476215.0
1963,2.302148e+10,291.950589,19.323797,40154044.0,1.159512e+09,280.566213,28.835466,3571610.0
1964,2.121189e+10,261.331083,19.865784,40536437.0,1.217138e+09,285.053174,29.055189,3668154.0
1965,2.179004e+10,260.964693,20.386713,40883136.0,1.311436e+09,297.363437,29.223213,3765439.0
1966,2.706272e+10,315.277382,20.948919,41188409.0,1.281750e+09,281.490800,29.494636,3862905.0
1967,3.059183e+10,346.880100,21.486718,41456121.0,1.397002e+09,297.231875,29.714360,3960866.0
1968,3.387588e+10,374.083262,22.160792,41683417.0,1.479600e+09,304.982159,29.934083,4060357.0
1969,3.745890e+10,403.065252,23.184345,41876543.0,1.747999e+09,348.935805,30.153806,4163908.0
1970,4.232760e+10,444.026268,23.378048,42030536.0,1.884206e+09,364.054360,30.373530,4277027.0
1971,4.920446e+10,503.478766,23.884740,42127046.0,2.178716e+09,407.145750,30.593253,4395739.0
1972,5.853901e+10,584.550685,24.268198,42181485.0,2.677729e+09,483.704904,30.761277,4519488.0
1973,7.927906e+10,772.818791,24.630001,42208301.0,3.309354e+09,577.846722,30.851751,4646122.0
1974,1.051360e+11,1000.634253,25.130352,42210567.0,3.982161e+09,672.555267,31.071475,4772280.0
1975,1.237094e+11,1149.586121,25.533911,42195781.0,4.371301e+09,714.805596,31.161949,4900063.0
1976,1.526780e+11,1385.298530,25.843908,42162015.0,4.318372e+09,684.554000,31.252423,5024182.0
1977,1.761713e+11,1560.863060,26.148162,42112130.0,4.364382e+09,671.247912,31.317048,5146508.0
1978,2.008009e+11,1737.367552,26.326312,42041377.0,4.351600e+09,649.184298,31.446297,5272388.0
1979,2.249695e+11,1901.001325,26.622311,41951277.0,5.177459e+09,747.994290,31.575546,5409171.0
1980,2.350246e+11,1939.790876,26.833482,41838889.0,6.678868e+09,932.259611,31.730645,5561475.0
1981,2.635611e+11,2124.962989,27.018451,41711594.0,8.011374e+09,1077.965350,31.924519,5730397.0
1982,2.816823e+11,2218.890515,27.295068,41560028.0,8.539701e+09,1105.958801,32.144242,5912457.0
1983,2.033045e+11,1565.297832,27.377024,41377910.0,7.764067e+09,967.175850,32.338116,6095410.0
1984,2.090239e+11,1573.967139,27.508991,41154932.0,6.352126e+09,761.445387,32.480290,6278670.0
1985,2.229428e+11,1643.196503,27.642633,40890118.0,5.637259e+09,651.039658,32.674163,6458295.0
1986,2.681372e+11,1936.016335,28.003240,40576188.0,6.217524e+09,692.667302,32.868037,6632967.0
1987,2.940841e+11,2081.665262,28.210942,40221975.0,6.741215e+09,725.385754,33.061910,6801847.0
1988,3.303974e+11,2294.401695,28.437786,39827946.0,7.814784e+09,813.675382,33.294559,6960814.0
1989,4.255953e+11,2901.285449,28.646565,39402933.0,8.286323e+09,836.787602,33.488432,7105072.0
1990,4.619518e+11,3093.037479,28.906910,38948052.0,8.783817e+09,862.586588,33.630606,7231232.0
1991,6.028600e+11,3966.795488,29.305683,38465272.0,8.641482e+09,827.486940,34.070053,7337491.0
1992,4.005992e+11,2591.797116,29.517213,37954804.0,6.751472e+09,631.990604,34.509500,7424700.0
1993,4.377986e+11,2786.171356,29.846712,37427434.0,6.563813e+09,601.866877,34.948947,7531515.0
1994,5.581120e+11,3494.640541,30.080616,36887092.0,6.890675e+09,619.835138,35.465943,7633452.0
1995,7.693054e+11,4740.119813,30.924584,36338211.0,7.111271e+09,628.184925,35.827840,7728174.0
1996,8.504264e+11,5156.809075,30.990029,35782889.0,8.553147e+09,742.572673,36.797208,7817214.0
1997,8.831996e+11,5271.412222,31.055474,35104063.0,8.529572e+09,728.400836,37.272845,7900267.0
1998,8.637234e+11,5075.631211,31.120800,34406802.0,6.401968e+09,538.284856,37.533928,7975747.0
1999,5.993886e+11,3469.502237,31.198209,33694963.0,6.858013e+09,568.443953,38.361122,8041376.0
2000,6.554206e+11,3739.116139,31.275619,32968089.0,6.689958e+09,547.358878,38.929818,8096264.0
2001,5.593723e+11,3146.948904,31.521965,32789666.0,6.777385e+09,548.058731,39.395114,8140646.0
2002,5.079625e+11,2819.648120,31.809470,32643365.0,6.342116e+09,507.348003,39.989660,8177218.0
2003,5.583199e+11,3059.586507,32.120663,32476348.0,5.727592e+09,453.351155,40.454957,8277856.0
2004,6.693167e+11,3623.049912,32.558919,32290435.0,5.805598e+09,454.360665,41.359700,8395591.0
2005,8.916302e+11,4770.183845,32.594884,32086234.0,5.755215e+09,444.760508,41.618198,8526187.0
2006,1.107640e+12,5860.145829,32.636926,31861822.0,5.443896e+09,414.796232,42.135195,8671728.0
2007,1.397084e+12,7313.557773,32.499815,31618729.0,5.291950e+09,396.998217,41.876696,8831998.0
2008,1.695825e+12,8787.610658,32.722591,31361022.0,4.415703e+09,325.678570,42.522942,9008247.0
2009,1.667020e+12,8553.381368,32.727377,31097605.0,8.621574e+09,624.272242,42.135195,9200897.0
2010,2.208872e+12,11224.154083,32.718165,30828136.0,1.014186e+10,719.979516,41.876696,9410223.0
2011,2.616202e+12,13167.472892,32.946684,30536157.0,1.209845e+10,840.949877,42.393693,9636897.0
2012,2.465189e+12,12291.466852,32.974681,30238579.0,1.424249e+10,968.163875,41.876696,9880673.0
2013,2.472807e+12,12216.904464,33.357673,29938261.0,1.545177e+10,1026.388292,41.876696,10138608.0
2014,2.455994e+12,12026.619391,33.810034,29627241.0,1.589105e+10,1031.104614,41.876696,10402264.0
2015,1.802214e+12,8750.222996,33.810034,29308408.0,1.630467e+10,1033.415841,41.876696,10667923.0
2016,1.793989e+12,8639.365743,27.959874,28984187.0,1.661996e+10,1029.076649,34.917175,10934441.0
2017,2.055506e+12,9821.407686,27.959874,28653658.0,1.784582e+10,1079.608291,34.917175,11201159.0

In [139]:
from sklearn import preprocessing
normalize = preprocessing.normalize(d)
normalize

array([[1.38156587e-08, 9.97594925e-01, 1.83920739e-09, 2.55830633e-03,
        1.84838931e-08, 6.92659679e-02, 2.29686036e-09, 2.15423795e-04],
       [1.34148348e-08, 9.97416615e-01, 1.17895593e-09, 2.57363857e-03,
        1.85460817e-08, 7.17873570e-02, 1.85882595e-09, 2.20896532e-04],
       [1.30388728e-08, 9.98428843e-01, 9.34680700e-10, 1.99133065e-03,
        1.40016977e-08, 5.59986559e-02, 1.43382322e-09, 1.74179571e-04],
       [1.26655876e-08, 9.98732488e-01, 8.38317347e-10, 1.74198848e-03,
        1.21717033e-08, 5.03026800e-02, 1.25095867e-09, 1.54945875e-04],
       [1.22997727e-08, 9.98355991e-01, 9.35000224e-10, 1.90788234e-03,
        1.34162733e-08, 5.72856490e-02, 1.36750753e-09, 1.72644829e-04],
       [1.19546789e-08, 9.98192016e-01, 9.33906433e-10, 1.87283865e-03,
        1.36220895e-08, 6.00763027e-02, 1.33870266e-09, 1.72493120e-04],
       [1.16368213e-08, 9.98879130e-01, 7.73220168e-10, 1.52025544e-03,
        1.03897658e-08, 4.73091023e-02, 1.08864077e-09, 1.42579004e-04],
       [1.13271619e-08, 9.98958019e-01, 7.01635919e-10, 1.35372480e-03,
        9.70592887e-09, 4.56182636e-02, 9.70304616e-10, 1.29339707e-04],
       [1.10322344e-08, 9.99046756e-01, 6.53552495e-10, 1.22930180e-03,
        8.99434700e-09, 4.36354539e-02, 8.82797638e-10, 1.19745561e-04],
       [1.07484972e-08, 9.98912361e-01, 6.18254399e-10, 1.11671721e-03,
        9.30503312e-09, 4.66136937e-02, 8.04108271e-10, 1.11038481e-04],
       [1.04798468e-08, 9.99010188e-01, 5.51765475e-10, 9.91998922e-04,
        8.59236087e-09, 4.44707776e-02, 7.16871867e-10, 1.00945802e-04],
       [1.02223614e-08, 9.99020762e-01, 4.84942882e-10, 8.55324831e-04,
        8.26646780e-09, 4.42354812e-02, 6.21148920e-10, 8.92487148e-05],
       [9.97522759e-09, 9.98955182e-01, 4.14131416e-10, 7.19817672e-04,
        8.25431674e-09, 4.56948574e-02, 5.24934359e-10, 7.71240588e-05],
       [9.73959919e-09, 9.99129751e-01, 3.10404385e-10, 5.31938326e-04,
        7.28242574e-09, 4.17067727e-02, 3.88815199e-10, 5.85536565e-05],
       [9.51070147e-09, 9.99283383e-01, 2.38855780e-10, 4.01197641e-04,
        6.39241796e-09, 3.78491424e-02, 2.95324210e-10, 4.53589614e-05],
       [9.28683889e-09, 9.99376236e-01, 2.06273641e-10, 3.40875219e-04,
        5.77449944e-09, 3.53132007e-02, 2.51739296e-10, 3.95847643e-05],
       [9.06970557e-09, 9.99600204e-01, 1.69202977e-10, 2.76039463e-04,
        4.48185218e-09, 2.82728681e-02, 2.04613138e-10, 3.28938857e-05],
       [8.85719980e-09, 9.99693249e-01, 1.48379126e-10, 2.38967504e-04,
        3.80903170e-09, 2.47659165e-02, 1.77710241e-10, 2.92041312e-05],
       [8.65015922e-09, 9.99765240e-01, 1.31075770e-10, 2.09319326e-04,
        3.23221620e-09, 2.16661334e-02, 1.56567605e-10, 2.62506317e-05],
       [8.44780362e-09, 9.99735264e-01, 1.18306100e-10, 1.86426040e-04,
        3.32398973e-09, 2.30079588e-02, 1.40317636e-10, 2.40376552e-05],
       [8.25023453e-09, 9.99596444e-01, 1.14127004e-10, 1.77947350e-04,
        3.96504620e-09, 2.84062729e-02, 1.34955405e-10, 2.36538246e-05],
       [8.05878426e-09, 9.99538329e-01, 1.02465724e-10, 1.58188514e-04,
        4.08811365e-09, 3.03826153e-02, 1.21071665e-10, 2.17321588e-05],
       [7.87366285e-09, 9.99540752e-01, 9.68556861e-11, 1.47474446e-04,
        3.92445985e-09, 3.03028580e-02, 1.14062826e-10, 2.09801668e-05],
       [7.69366881e-09, 9.99271562e-01, 1.34562095e-10, 2.03378507e-04,
        4.75381140e-09, 3.81615300e-02, 1.58946589e-10, 2.99598357e-05],
       [7.52660686e-09, 9.99538540e-01, 1.31546179e-10, 1.96800166e-04,
        3.64118153e-09, 3.03754464e-02, 1.55318598e-10, 3.00241851e-05],
       [7.36812983e-09, 9.99680453e-01, 1.23950186e-10, 1.83352203e-04,
        2.91927637e-09, 2.52775966e-02, 1.46511677e-10, 2.89591391e-05],
       [7.21830417e-09, 9.99731259e-01, 1.04408160e-10, 1.51285535e-04,
        2.58256255e-09, 2.31816108e-02, 1.22546221e-10, 2.47305627e-05],
       [7.07660993e-09, 9.99737368e-01, 9.59029454e-11, 1.36734389e-04,
        2.46594499e-09, 2.29167247e-02, 1.12393787e-10, 2.31228425e-05],
       [6.94242833e-09, 9.99720385e-01, 8.60473972e-11, 1.20511880e-04,
        2.46202879e-09, 2.36460680e-02, 1.00743077e-10, 2.10621150e-05],
       [6.81571346e-09, 9.99810510e-01, 6.72966454e-11, 9.25655561e-05,
        1.96578538e-09, 1.94662684e-02, 7.86711829e-11, 1.66912687e-05],
       [6.69437502e-09, 9.99819268e-01, 6.25642906e-11, 8.42967045e-05,
        1.86692795e-09, 1.90111382e-02, 7.27879605e-11, 1.56508219e-05],
       [6.57928544e-09, 9.99897280e-01, 4.86060985e-11, 6.37980971e-05,
        1.37246117e-09, 1.43326710e-02, 5.65082329e-11, 1.21698857e-05],
       [6.46888155e-09, 9.99858007e-01, 7.36721846e-11, 9.47316169e-05,
        1.57738904e-09, 1.68510389e-02, 8.61324620e-11, 1.85313521e-05],
       [6.36333327e-09, 9.99887624e-01, 6.81668689e-11, 8.54804697e-05,
        1.37460301e-09, 1.49910850e-02, 7.98198554e-11, 1.72012177e-05],
       [6.26106271e-09, 9.99923790e-01, 5.38929887e-11, 6.60875971e-05,
        1.11050811e-09, 1.23454609e-02, 6.35414400e-11, 1.36762340e-05],
       [6.16129484e-09, 9.99957278e-01, 4.01963422e-11, 4.72330744e-05,
        8.16526309e-10, 9.24336034e-03, 4.65696851e-11, 1.00452226e-05],
       [6.06348542e-09, 9.99949426e-01, 3.64387329e-11, 4.20742794e-05,
        8.73132689e-10, 1.00569711e-02, 4.32669374e-11, 9.19164592e-06],
       [5.96826160e-09, 9.99953368e-01, 3.51608232e-11, 3.97446115e-05,
        8.24691098e-10, 9.65713028e-03, 4.22000934e-11, 8.94463536e-06],
       [5.87629294e-09, 9.99972531e-01, 3.60299887e-11, 3.98343456e-05,
        6.23197267e-10, 7.41185460e-03, 4.34547638e-11, 9.23389109e-06],
       [5.78802344e-09, 9.99934549e-01, 5.20466493e-11, 5.62118778e-05,
        9.48310939e-10, 1.14409324e-02, 6.39962328e-11, 1.34150866e-05],
       [5.70461336e-09, 9.99947910e-01, 4.77159055e-11, 5.02980367e-05,
        8.35082585e-10, 1.02065890e-02, 5.93935973e-11, 1.23521319e-05],
       [5.62544494e-09, 9.99926607e-01, 5.63482555e-11, 5.86143806e-05,
        9.79702661e-10, 1.21151648e-02, 7.04221942e-11, 1.45521129e-05],
       [5.55046571e-09, 9.99922064e-01, 6.26168098e-11, 6.42583295e-05,
        9.98712454e-10, 1.24844300e-02, 7.87194811e-11, 1.60968199e-05],
       [5.47969973e-09, 9.99947383e-01, 5.75279010e-11, 5.81649301e-05,
        8.11949000e-10, 1.02580800e-02, 7.24545669e-11, 1.48255868e-05],
       [5.41285444e-09, 9.99962382e-01, 4.86431850e-11, 4.82420692e-05,
        6.78817075e-10, 8.67359265e-03, 6.17915960e-11, 1.25430544e-05],
       [5.34984639e-09, 9.99979168e-01, 3.65557441e-11, 3.59852845e-05,
        4.98806853e-10, 6.45457665e-03, 4.66755527e-11, 9.56227101e-06],
       [5.29059394e-09, 9.99987922e-01, 2.94649195e-11, 2.87651481e-05,
        3.74481881e-10, 4.91480019e-03, 3.80400439e-11, 7.82891637e-06],
       [5.23483448e-09, 9.99992826e-01, 2.32624333e-11, 2.26317776e-05,
        2.84159915e-10, 3.78782580e-03, 2.99741358e-11, 6.32169036e-06],
       [5.18189264e-09, 9.99996610e-01, 1.92959113e-11, 1.84930188e-05,
        1.92046673e-10, 2.60385886e-03, 2.50749979e-11, 5.31199784e-06],
       [5.13087311e-09, 9.99986626e-01, 1.96320043e-11, 1.86543612e-05,
        3.74478995e-10, 5.17177924e-03, 2.52754235e-11, 5.51929500e-06],
       [5.08134359e-09, 9.99989459e-01, 1.48120058e-11, 1.39563614e-05,
        3.25945570e-10, 4.59137262e-03, 1.89582111e-11, 4.26014967e-06],
       [5.03299601e-09, 9.99989307e-01, 1.25931932e-11, 1.16718187e-05,
        3.21435814e-10, 4.62438424e-03, 1.62041181e-11, 3.68350590e-06],
       [4.98593144e-09, 9.99983311e-01, 1.33759055e-11, 1.22660284e-05,
        3.92727635e-10, 5.77734790e-03, 1.69869341e-11, 4.00801294e-06],
       [4.94040431e-09, 9.99980478e-01, 1.34895375e-11, 1.21067586e-05,
        4.15062028e-10, 6.24855379e-03, 1.69345526e-11, 4.09996025e-06],
       [4.89674221e-09, 9.99979068e-01, 1.37660482e-11, 1.20629877e-05,
        4.19823171e-10, 6.47017826e-03, 1.70504595e-11, 4.23537185e-06],
       [4.85506333e-09, 9.99959078e-01, 1.87595056e-11, 1.62617772e-05,
        5.73391028e-10, 9.04664884e-03, 2.32352951e-11, 5.91909964e-06],
       [4.81552272e-09, 9.99957089e-01, 1.55846403e-11, 1.61555854e-05,
        5.73600207e-10, 9.26385099e-03, 1.94625918e-11, 6.09478180e-06],
       [4.77791840e-09, 9.99962314e-01, 1.36019194e-11, 1.39394315e-05,
        5.25207840e-10, 8.68163517e-03, 1.69865072e-11, 5.44913981e-06]])

### Data For first pipeline

In [202]:
df_coffee.head(50)

          date   value
0   1973-09-04  0.6432
1   1973-09-05  0.6370
2   1973-09-06  0.6360
3   1973-09-07  0.6380
4   1973-09-10  0.6335
5   1973-09-11  0.6302
6   1973-09-12  0.6365
7   1973-09-13  0.6450
8   1973-09-14  0.6645
9   1973-09-17  0.6575
10  1973-09-18  0.6562
11  1973-09-19  0.6515
12  1973-09-20  0.6480
13  1973-09-21  0.6465
14  1973-09-24  0.6570
15  1973-09-25  0.6730
16  1973-09-26  0.6840
17  1973-09-27  0.6855
18  1973-09-28  0.6782
19  1973-10-01  0.6800
20  1973-10-02  0.6847
21  1973-10-03  0.6845
22  1973-10-04  0.6812
23  1973-10-05  0.6822
24  1973-10-09  0.6770
25  1973-10-10  0.6795
26  1973-10-11  0.6702
27  1973-10-12  0.6507
28  1973-10-15  0.6415
29  1973-10-16  0.6433
30  1973-10-17  0.6420
31  1973-10-18  0.6493
32  1973-10-19  0.6520
33  1973-10-23  0.6520
34  1973-10-24  0.6453
35  1973-10-25  0.6483
36  1973-10-26  0.6478
37  1973-10-29  0.6438
38  1973-10-30  0.6448
39  1973-10-31  0.6505
40  1973-11-01  0.6544
41  1973-11-02  0.6475
42  1973-11-05  0.6520
43  1973-11-07  0.6550
44  1973-11-08  0.6570
45  1973-11-09  0.6570
46  1973-11-12  0.6610
47  1973-11-13  0.6570
48  1973-11-14  0.6413
49  1973-11-15  0.6445

In [296]:
def make_average_monthly_data(df_coffee, month):
    date_value = {}
    counter = 0
    loc = 0
    loc_count = 0
    for index, row in df_coffee.iterrows():
        
        if month[counter] in row['date'] :

            if month[counter] not in date_value:
                date_value[month[counter]] = []
            loc_count += 1
            loc+= row[' value']
        else:

            date_value[month[counter]].append(loc/loc_count)
            loc = 0
            loc_count=0
            if '2018-12' in row['date']:
                break
            loc += row[' value']
            loc_count += 1
            counter += 1

    df = pd.DataFrame.from_dict(date_value, orient='index', columns=["coffee price"])
    
    return df

In [367]:
df = make_average_monthly_data(df_coffee,df_cpi['TIME'] )

In [368]:
df

         coffee price
2014-01      1.176238
1976-03      1.001557
1977-01      2.189590
1986-09      2.057857
2010-05      1.345025
1982-02      1.526042
2015-02      1.552968
2015-07      1.256227
1989-11      0.750075
1980-01      1.722636
1976-09      1.570862
1986-10      1.831043
2002-10      0.621870
2003-06      0.590576
1993-01      0.665400
1979-01      1.300741
2009-02      1.140832
1991-12      0.796000
1990-11      0.850925
2005-07      1.031075
2016-09      1.522881
2000-03      1.049304
2008-02      1.523860
1995-02      1.646063
2000-06      0.894477
1975-11      0.774787
1983-12      1.452500
1977-06      2.626636
2011-06      2.580136
2012-01      2.232450
...               ...
2007-08      1.161983
1984-02      1.443905
2015-05      1.326150
1977-09      1.776133
1974-09      0.544295
1982-12      1.318690
1994-02      0.758868
1979-09      2.117158
2015-08      1.274862
2008-03      1.445350
2017-10      1.261205
1993-11      0.761500
1974-04      0.714795
2004-05      0.736875
1981-09      1.164571
1978-04      1.716665
1980-11      1.139122
2004-11      0.845590
1982-10      1.409738
2010-04      1.332129
1986-05      2.160262
2001-03      0.629818
1993-10      0.749810
1989-12      0.781450
2016-03      1.257364
1984-03      1.462727
2001-01      0.660119
1981-12      1.363357
1995-01      1.677095
1985-12      2.047050

[543 rows x 1 columns]

In [369]:
df = df.sort_index()

In [370]:
df_cpi.head(25)

   LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME      Value Flag Codes
0       AUT       CPI     TOT  AGRWTH         M  1973-09   6.543496        NaN
1       AUT       CPI     TOT  AGRWTH         M  1973-10   7.012194        NaN
2       AUT       CPI     TOT  AGRWTH         M  1973-11   7.966616        NaN
3       AUT       CPI     TOT  AGRWTH         M  1973-12   7.849054        NaN
4       AUT       CPI     TOT  AGRWTH         M  1974-01   8.128263        NaN
5       AUT       CPI     TOT  AGRWTH         M  1974-02   8.389013        NaN
6       AUT       CPI     TOT  AGRWTH         M  1974-03   8.962962        NaN
7       AUT       CPI     TOT  AGRWTH         M  1974-04   9.741698        NaN
8       AUT       CPI     TOT  AGRWTH         M  1974-05   9.632352        NaN
9       AUT       CPI     TOT  AGRWTH         M  1974-06  10.218980        NaN
10      AUT       CPI     TOT  AGRWTH         M  1974-07  10.043670        NaN
11      AUT       CPI     TOT  AGRWTH         M  1974-08   9.905999        NaN
12      AUT       CPI     TOT  AGRWTH         M  1974-09  10.115610        NaN
13      AUT       CPI     TOT  AGRWTH         M  1974-10   9.971509        NaN
14      AUT       CPI     TOT  AGRWTH         M  1974-11   9.416725        NaN
15      AUT       CPI     TOT  AGRWTH         M  1974-12   9.657104        NaN
16      AUT       CPI     TOT  AGRWTH         M  1975-01   9.241379        NaN
17      AUT       CPI     TOT  AGRWTH         M  1975-02   9.589040        NaN
18      AUT       CPI     TOT  AGRWTH         M  1975-03   9.245413        NaN
19      AUT       CPI     TOT  AGRWTH         M  1975-04   8.607933        NaN
20      AUT       CPI     TOT  AGRWTH         M  1975-05   8.584843        NaN
21      AUT       CPI     TOT  AGRWTH         M  1975-06   8.344373        NaN
22      AUT       CPI     TOT  AGRWTH         M  1975-07   8.928571        NaN
23      AUT       CPI     TOT  AGRWTH         M  1975-08   8.815792        NaN
24      AUT       CPI     TOT  AGRWTH         M  1975-09   8.727035        NaN

In [371]:
cpi = df_cpi.drop(['SUBJECT', 'INDICATOR', 'MEASURE', 'Flag Codes', 'FREQUENCY' ], axis=1)

In [372]:
names = cpi.LOCATION.unique()

In [373]:
def insert_data():
    for c in ['USA', 'IND', 'IDN', 'COL']:
        loc_df = df_cpi.loc[df_cpi['LOCATION'] == c]
        df.insert(loc=1, column='{} CPI'.format(c), value=[i for i in loc_df["Value"]])

In [374]:
print(names)

['AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'ISL' 'IRL'
 'ITA' 'JPN' 'KOR' 'LUX' 'MEX' 'NLD' 'NOR' 'POL' 'PRT' 'SVK' 'ESP' 'SWE'
 'CHE' 'TUR' 'GBR' 'USA' 'BRA' 'CHL' 'CHN' 'EST' 'IND' 'IDN' 'ISR' 'RUS'
 'SVN' 'ZAF' 'OECD' 'OECDE' 'G-7' 'COL' 'LVA' 'SAU' 'EU28' 'EA19' 'ARG'
 'LTU' 'CRI' 'G-20']

In [375]:
insert_data()

In [376]:
df

         coffee price    COL CPI    IDN CPI    IND CPI    USA CPI
1973-09      0.652700  22.727270  44.000000  19.250780   7.363420
1973-10      0.659552  22.727270  42.307690  21.554400   7.801418
1973-11      0.646810  27.272730  30.635840  23.298970   8.254717
1973-12      0.670937  27.272730  27.173910  23.814430   8.705882
1974-01      0.716991  26.086960  42.541440  25.670100   9.389671
1974-02      0.756550  26.086960  46.703300  25.304880  10.023310
1974-03      0.732176  25.000000  47.282610  27.254510  10.392610
1974-04      0.714795  24.000000  49.206350  28.011750  10.091740
1974-05      0.730982  23.076920  49.206350  28.964860  10.706150
1974-06      0.725355  23.076920  43.216080  29.182160  10.859730
1974-07      0.705859  18.518520  36.842110  28.074870  11.512410
1974-08      0.633591  23.076920  36.842110  29.973710  10.864750
1974-09      0.544295  22.222220  35.185180  34.642230  11.946900
1974-10      0.575364  25.925930  35.135140  31.884060  12.061400
1974-11      0.602961  25.000000  35.398230  27.842810  12.200440
1974-12      0.594642  25.000000  33.760680  25.395500  12.337660
1975-01      0.560886  24.137930  22.480620  23.543890  11.802580
1975-02      0.534572  27.586210  19.475650  21.735600  11.228810
1975-03      0.513710  26.666670  19.926200  16.771650  10.251050
1975-04      0.480641  25.806450  17.375890  14.154550  10.208330
1975-05      0.520343  25.000000  18.439720  11.192930   9.465020
1975-06      0.561429  25.000000  17.192980   8.992805   9.387755
1975-07      0.631441  25.000000  17.832170   4.175365   9.716599
1975-08      0.846624  25.000000  18.881120   0.000000   8.600000
1975-09      0.814557  24.242420  20.890410  -4.471808   7.905138
1975-10      0.809605  20.588240  18.666670  -5.623788   7.436399
1975-11      0.774787  17.142860  19.607840  -4.839765   7.378641
1975-12      0.839729  17.142860  19.488820  -6.175299   6.936416
1976-01      0.931620  16.666670  20.886080  -8.565737   6.717850
1976-02      0.993883  16.216220  22.257050 -10.726180   6.285714
...               ...        ...        ...        ...        ...
2016-06      1.358814   8.600918   3.454303   6.130268   0.997326
2016-07      1.454600   8.960837   3.207983   6.463878   0.827139
2016-08      1.411904   8.096013   2.793067   5.303030   1.062875
2016-09      1.522881   7.270965   3.073888   4.135338   1.463784
2016-10      1.556048   6.483710   3.306737   3.345725   1.635988
2016-11      1.607762   5.966340   3.579051   2.592592   1.692537
2016-12      1.410190   5.747127   3.024636   2.230483   2.074622
2017-01      1.486925   5.470340   3.494580   1.858736   2.500042
2017-02      1.455253   5.185071   3.829649   2.621723   2.737958
2017-03      1.413870   4.692643   3.612121   2.611940   2.380612
2017-04      1.358942   4.661792   4.172417   2.214022   2.199690
2017-05      1.332045   4.365290   4.332685   1.090909   1.874878
2017-06      1.242455   3.990044   4.368815   1.083032   1.633488
2017-07      1.325250   3.399115   3.875350   1.785714   1.727978
2017-08      1.335409   3.869025   3.820027   2.517986   1.938974
2017-09      1.328024   3.968971   3.723786   2.888087   2.232964
2017-10      1.261205   4.046722   3.583088   3.237410   2.041129
2017-11      1.259505   4.117425   3.304803   3.971119   2.202583
2017-12      1.231900   4.085457   3.606661   4.000000   2.109082
2018-01      1.240905   3.672924   3.251524   5.109489   2.070508
2018-02      1.209011   3.372025   3.181535   4.744525   2.211795
2018-03      1.197571   3.136882   3.400406   4.363636   2.359711
2018-04      1.172529   3.129549   3.413076   3.971119   2.462744
2018-05      1.203136   3.158812   3.229062   3.956835   2.801012
2018-06      1.161443   3.198665   3.122109   3.928571   2.871548
2018-07      1.110571   3.120464   3.184615   5.614035   2.949515
2018-08      1.031822   3.101674   3.202217   5.614035   2.699180
2018-09      0.999289   3.223470   2.882841   5.614035   2.276972
2018-10      1.148500   3.331643   3.159351   5.226481   2.522470
2018-11      1.121786   3.267785   3.229766   4.861111   2.176601

[543 rows x 5 columns]

In [377]:
df_disaster.head(25)

,,,,,,,,,,,sep=,Unnamed: 1
Start date,End date,Country,ISO,Location,Latitude,Longitude,Magnitude value,Magnitude scale,Disaster type,Disaster subtype,Disaster name,Disaster No.
26/03/1973,26/03/1973,Brazil,BRA,"East, Central, along Cartinga",NaN,NaN,NaN,Km2,Flood,--,NaN,1973-0019
/03/1974,/03/1974,Brazil,BRA,Most of the country,NaN,NaN,NaN,Km2,Flood,--,NaN,1974-0015
/05/1974,/05/1974,Brazil,BRA,North East (Ceara),NaN,NaN,NaN,NaN,Landslide,Landslide,NaN,1974-0024
23/10/1974,23/10/1974,Brazil,BRA,Sao Tome,NaN,NaN,NaN,NaN,Landslide,Landslide,NaN,1974-0053
01/01/1974,01/01/1974,Brazil,BRA,Sao Paulo,NaN,NaN,NaN,Vaccinated,Epidemic,Bacterial disease,NaN,1974-0127
/07/1975,/07/1975,Brazil,BRA,Parana,NaN,NaN,NaN,Â°C,Extreme temperature,Cold wave,NaN,1975-0039
18/07/1975,18/07/1975,Brazil,BRA,"Pernambuco, Recife (North East areas)",NaN,NaN,NaN,Km2,Flood,--,NaN,1975-0042
/07/1975,/07/1975,Brazil,BRA,"Pernambuco, Recife (North East areas)",NaN,NaN,NaN,Vaccinated,Epidemic,Bacterial disease,NaN,1975-0068
/12/1975,/12/1975,Brazil,BRA,NaN,NaN,NaN,NaN,Â°C,Extreme temperature,Heat wave,NaN,1975-0145
/05/1977,/05/1977,Brazil,BRA,Recife,NaN,NaN,NaN,Km2,Flood,--,NaN,1977-0061
17/06/1977,17/06/1977,Brazil,BRA,"Aracaju, Sergipe",NaN,NaN,NaN,Kph,Storm,--,NaN,1977-0077
09/08/1977,09/08/1977,Brazil,BRA,Rio Grande Do Sul,NaN,NaN,NaN,Km2,Flood,--,NaN,1977-0105
/01/1977,/01/1977,Brazil,BRA,NaN,NaN,NaN,NaN,Km2,Flood,--,NaN,1977-0232
//1977,//1977,Brazil,BRA,North East,NaN,NaN,NaN,Km2,Drought,Drought,NaN,1977-9006
/01/1978,/01/1978,Brazil,BRA,South Eastern,NaN,NaN,NaN,Km2,Flood,--,NaN,1978-0006
//1978,//1978,Brazil,BRA,Central and Southern,NaN,NaN,NaN,Km2,Drought,Drought,NaN,1978-9005
/01/1979,/01/1979,Brazil,BRA,"Minas Gerais, Espirito Santo (East-Central)",NaN,NaN,NaN,Km2,Flood,--,NaN,1979-0003
//1979,//1979,Brazil,BRA,Northeastern,NaN,NaN,NaN,Km2,Drought,Drought,NaN,1979-9012
/01/1980,/01/1980,Brazil,BRA,Minas Gerais state,NaN,NaN,NaN,Km2,Flood,--,NaN,1980-0008
/02/1980,/02/1980,Brazil,BRA,"North, Central",NaN,NaN,NaN,Km2,Flood,--,NaN,1980-0031
25/06/1980,25/06/1980,Brazil,BRA,Irati town,NaN,NaN,NaN,Kph,Storm,Convective storm,NaN,1980-0054
/04/1981,/04/1981,Brazil,BRA,NorthEastern,NaN,NaN,NaN,Km2,Flood,--,NaN,1981-0041
02/12/1981,02/12/1981,Brazil,BRA,Rio de Janeiro state,NaN,NaN,NaN,Km2,Flood,--,NaN,1981-0105
/06/1982,/06/1982,Brazil,BRA,Parana state,NaN,NaN,NaN,Kph,Storm,--,NaN,1982-0071

**Coffee price - mentions in media dependency**

I have done an experiment which aims to discover dependency between mentions a word â€œcoffeeâ€ and similar words in media.
The experiment didnâ€™t show any results because of a leak of data.
Where to find the data:

    -scrap the reuters.com archive(https://www.reuters.com/resources/archive/) (scraped less than 30 days before the site was down)
    
    -use a framework to access and analyze Global Database of Events, Language, and Tone (GDELT) 1.0 or 2.0  (github.com/linwoodc3/gdeltPyR)
    
Why experiment was not a successful ?
For this task not enough scraped data from reuters.com,
search for keywords (â€˜coffeeâ€™ and similar) in Global Database of Events didnâ€™t show any results, even on International Coffee Day. Data collected there has some specification on events, not on the media.

## Data description


- GDP - GDP (current US)
- GDP per capita (current US)
- Agricultural land (% of land area)
- Rural population
- ICO - mounthly
- Disaster - Geophysical(Volcanic activity, Mass movement(dry), Earthquake); Climatological (Wildfire, Drought); Biological (Epidemia, Insect infestation); Meteorogical (Extreme temperature, Storm, Fog)

### Data sources :

- www.ico.org - International Coffe Organization
- www.emdat.be - UniversitÃ© Catholique de Louvain's disaster database
- https://data.oecd.org/
- https://data.worldbank.org/