# Data for Prediction coffee price task

In [95]:
import io
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

###  About the data

For price prediction tasks always hard to find an adequate dataset. My task is to collect and preprocess data for such specific tasks.Also create function for filtration data(which will be helpful for people who want to get data and do not have any programming skills)

If you have to work with prices you always need to have economic data such a GDP, GDP per capita,  inflation index (CPI) etc.

In [388]:
df_cpi = pd.read_csv("data/data/CPI.csv")
df_cpi.head(5)

  LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME     Value Flag Codes
0      AUT       CPI     TOT  AGRWTH         M  1973-09  6.543496        NaN
1      AUT       CPI     TOT  AGRWTH         M  1973-10  7.012194        NaN
2      AUT       CPI     TOT  AGRWTH         M  1973-11  7.966616        NaN
3      AUT       CPI     TOT  AGRWTH         M  1973-12  7.849054        NaN
4      AUT       CPI     TOT  AGRWTH         M  1974-01  8.128263        NaN

In [389]:
df_gdp = pd.read_csv("data/data/GDP.csv")
df_gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.026425e+10,2.061610e+10,1.921556e+10,1.946902e+10,2.081530e+10
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.417804e+10,7.549239e+10,8.252614e+10,1.041158e+11,1.139232e+11,1.249125e+11,1.267302e+11,1.026212e+11,9.533720e+10,1.242094e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.188368e+10,1.303935e+10
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.012914e+09

In [44]:
df_gdp_per_c = pd.read_csv("data/data/GDP-per-capita.csv")
df_gdp_per_c.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,27546.899390,24631.434860,24271.940421,25324.720362,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.777327,59.878153,58.492874,78.782758,82.208444,101.290471,...,373.361116,445.893298,553.300289,603.537023,669.009051,638.612543,629.345250,569.577923,561.778746,585.850064
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3868.579014,3347.844900,3531.416878,4299.008136,4539.467689,4804.633826,4707.578098,3683.552607,3308.772828,4170.312280
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4370.539647,4114.136545,4094.358832,4437.178068,4247.614308,4413.081697,4578.666728,3952.830781,4131.872341,4537.862492
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,47785.659086,43339.379875,39736.354063,41098.766942,38391.080867,40619.711298,42294.994727,36038.267604,37231.815671,39146.548836

In [45]:
df_rural = pd.read_csv("data/data/rural-population.csv")
df_rural.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population,SP.RUR.TOTL,26685.0,27297.0,27693.0,27934.0,28108.0,28278.0,...,56978.0,57401.0,57891.0,58231.0,58513.0,58827.0,59121.0,59362.0,59547.0,59692.0
1,Afghanistan,AFG,Rural population,SP.RUR.TOTL,8240568.0,8370722.0,8506983.0,8649584.0,8798513.0,8954113.0,...,20929063.0,21415472.0,21966159.0,22593984.0,23280573.0,23997724.0,24703806.0,25368831.0,25985093.0,26558736.0
2,Angola,AGO,Rural population,SP.RUR.TOTL,5054316.0,5131812.0,5208828.0,5285253.0,5358588.0,5427638.0,...,9077595.0,9237647.0,9398363.0,9559552.0,9720241.0,9878849.0,10032988.0,10183690.0,10329915.0,10472420.0
3,Albania,ALB,Rural population,SP.RUR.TOTL,1114818.0,1146208.0,1180553.0,1214693.0,1248887.0,1282417.0,...,1473922.0,1432259.0,1393502.0,1358266.0,1324613.0,1291587.0,1258985.0,1226200.0,1195854.0,1167112.0
4,Andorra,AND,Rural population,SP.RUR.TOTL,5572.0,5609.0,5616.0,5601.0,5554.0,5482.0,...,9221.0,9365.0,9442.0,9442.0,9372.0,9261.0,9157.0,9093.0,9082.0,9120.0

In [46]:
df_agricul = pd.read_csv("data/data/agricultural-land.csv")
df_agricul.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,11.111111,11.111111,11.111111,11.111111,11.111111,...,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,NaN,NaN
1,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,57.745918,57.837821,57.914407,58.010906,58.013969,...,58.067580,58.067580,58.069111,58.067580,58.067580,58.067580,58.067580,58.067580,NaN,NaN
2,Angola,AGO,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,45.857063,45.881126,45.897169,45.921232,45.937274,...,46.274164,46.755434,46.835646,47.316917,47.316917,47.477340,47.477340,47.477340,NaN,NaN
3,Albania,ALB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,44.963504,44.963504,45.000000,44.890511,45.145985,...,43.102190,43.843066,43.843066,43.832117,43.843066,43.332117,42.857299,42.857664,NaN,NaN
4,Andorra,AND,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,55.319149,55.319149,55.319149,55.319149,55.319149,...,44.170213,44.191489,42.063830,42.063830,39.914894,40.021277,40.021277,40.021277,NaN,NaN

In [183]:
df_coffee = pd.read_csv("data/data/coffee-prices-historical-chart-data.csv")
df_coffee.head()

         date   value
0  1973-09-04  0.6432
1  1973-09-05  0.6370
2  1973-09-06  0.6360
3  1973-09-07  0.6380
4  1973-09-10  0.6335

In [406]:
df_disaster = pd.read_csv("data/data/disaster_in_coffee_region.csv", encoding="ISO-8859-1")
df_disaster.head()

,Start date,End date,Country,ISO,Location,Latitude,Longitude,Magnitude value,Magnitude scale,Disaster type,Disaster subtype,Disaster name,Disaster No.
0,26/03/1973,26/03/1973,Brazil,BRA,"East, Central, along Cartinga",NaN,NaN,NaN,Km2,Flood,--,NaN,1973-0019
1,/03/1974,/03/1974,Brazil,BRA,Most of the country,NaN,NaN,NaN,Km2,Flood,--,NaN,1974-0015
2,/05/1974,/05/1974,Brazil,BRA,North East (Ceara),NaN,NaN,NaN,NaN,Landslide,Landslide,NaN,1974-0024
3,23/10/1974,23/10/1974,Brazil,BRA,Sao Tome,NaN,NaN,NaN,NaN,Landslide,Landslide,NaN,1974-0053
4,01/01/1974,01/01/1974,Brazil,BRA,Sao Paulo,NaN,NaN,NaN,Vaccinated,Epidemic,Bacterial disease,NaN,1974-0127

That is all the data I mined. Perfectly I need daily price data (in my case coffee price), daily weather data, daily consumption and production data
As coffee production counties are poor and do not report systematically, I didn't have production data yet.

Also, I have trouble with weather data: a website with data is not available. https://governmentshutdown.noaa.gov/

Other sites give us At most 3 years of weather data, which does not suffice, because еhree years is inconclusive to describe economic trends; therefore, at least a 25-year period must be analyzed.

### Data for second Pipeline

In [118]:
def read_data():
    return pd.read_csv("data/data/GDP.csv"), pd.read_csv("data/data/GDP-per-capita.csv"), pd.read_csv("data/data/agricultural-land.csv"), pd.read_csv("data/data/rural-population.csv") 

def drop_col(df_gdp_per_c, df_gdp, df_agricul, df_rural):
    gdp_per_c = df_gdp_per_c.drop(['Country Name','Indicator Name', 'Indicator Code' ], axis=1)
    gdp = df_gdp.drop(['Country Name','Indicator Name', 'Indicator Code' ], axis=1)
    agricul = df_agricul.drop(['Country Name','Indicator Name', 'Indicator Code' ], axis=1)
    rural = df_rural.drop(['Country Name','Indicator Name', 'Indicator Code' ], axis=1)
    
    return(gdp_per_c, gdp, agricul, rural)

In [119]:
def get_merged_data():
    """
    () => data frame
    
    This function merges four datasets for second pipeline. 
    """
    gdp_per_c, gdp, agricul, rural = read_data()
    gdp_per_c, gdp, agricul, rural = drop_col(gdp_per_c, gdp, agricul, rural)
    gdp.index = gdp['Country Code']
    gdp_per_c.index = gdp['Country Code']
    agricul.index = gdp['Country Code']
    rural.index = gdp['Country Code']
    gdp_per_c = gdp_per_c.T
    agricul = agricul.T
    rural = rural.T
    gdp = gdp.T
    gdp = gdp.drop(['Country Code' ], axis=0)
    gdp_per_c = gdp_per_c.drop(['Country Code' ], axis=0)
    agricul = agricul.drop(['Country Code' ], axis=0)
    rural = rural.drop(['Country Code' ], axis=0)
    gdp.rename(columns=lambda x: x+' GDP', inplace=True)
    gdp_per_c.rename(columns=lambda x: x+' GDP per capita', inplace=True)
    agricul.rename(columns=lambda x: x+' Agricultural land', inplace=True)
    rural.rename(columns=lambda x: x+' Rural pop.', inplace=True)
    main = gdp.join(gdp_per_c).join(agricul).join(rural)
    main.to_csv("data/data/ecomonical_index.csv")
    return main

In [120]:
main = get_merged_data()

In [121]:
# amount of missing values
main.isnull().sum(axis = 0)

Country Code
ABW GDP           40
AFG GDP           19
AGO GDP           20
ALB GDP           24
AND GDP           10
ARB GDP            8
ARE GDP           15
ARG GDP            2
ARM GDP           30
ASM GDP           43
ATG GDP           17
AUS GDP            0
AUT GDP            0
AZE GDP           30
BDI GDP            0
BEL GDP            0
BEN GDP            0
BFA GDP            0
BGD GDP            0
BGR GDP           20
BHR GDP           20
BHS GDP            0
BIH GDP           34
BLR GDP           30
BLZ GDP            0
BMU GDP            4
BOL GDP            0
BRA GDP            0
BRB GDP           14
BRN GDP            5
                  ..
TLA Rural pop.     0
TLS Rural pop.     0
TMN Rural pop.     0
TON Rural pop.     0
TSA Rural pop.     0
TSS Rural pop.     0
TTO Rural pop.     0
TUN Rural pop.     0
TUR Rural pop.     0
TUV Rural pop.     0
TZA Rural pop.     0
UGA Rural pop.     0
UKR Rural pop.     0
UMC Rural pop.     0
URY Rural pop.     0
USA Rural pop.     0
UZB Rural pop.     0
VCT Rural pop.     0
VEN Rural pop.     0
VGB Rural pop.     0
VIR Rural pop.     0
VNM Rural pop.     0
VUT Rural pop.     0
WLD Rural pop.     0
WSM Rural pop.     0
XKX Rural pop.    58
YEM Rural pop.     0
ZAF Rural pop.     0
ZMB Rural pop.     0
ZWE Rural pop.     0
Length: 1056, dtype: int64

In [122]:
main = main.drop(main.loc[:, main.isnull().sum() >10], axis=1)

In [123]:
main.isnull().sum(axis = 0)

Country Code
AND GDP           10
ARB GDP            8
ARG GDP            2
AUS GDP            0
AUT GDP            0
BDI GDP            0
BEL GDP            0
BEN GDP            0
BFA GDP            0
BGD GDP            0
BHS GDP            0
BLZ GDP            0
BMU GDP            4
BOL GDP            0
BRA GDP            0
BRN GDP            5
BWA GDP            0
CAF GDP            0
CAN GDP            0
CHE GDP           10
CHL GDP            0
CHN GDP            0
CIV GDP            0
CMR GDP            0
COD GDP            0
COG GDP            0
COL GDP            0
CRI GDP            0
CSS GDP            0
DEU GDP           10
                  ..
TKM Rural pop.     0
TLA Rural pop.     0
TLS Rural pop.     0
TMN Rural pop.     0
TON Rural pop.     0
TSA Rural pop.     0
TSS Rural pop.     0
TTO Rural pop.     0
TUN Rural pop.     0
TUR Rural pop.     0
TUV Rural pop.     0
TZA Rural pop.     0
UGA Rural pop.     0
UKR Rural pop.     0
UMC Rural pop.     0
URY Rural pop.     0
USA Rural pop.     0
UZB Rural pop.     0
VCT Rural pop.     0
VEN Rural pop.     0
VGB Rural pop.     0
VIR Rural pop.     0
VNM Rural pop.     0
VUT Rural pop.     0
WLD Rural pop.     0
WSM Rural pop.     0
YEM Rural pop.     0
ZAF Rural pop.     0
ZMB Rural pop.     0
ZWE Rural pop.     0
Length: 787, dtype: int64

In [124]:
main.fillna(main.mean(), inplace=True)

In [128]:
def cleaning_data(dataset):
    dataset = dataset.drop(dataset.loc[:, dataset.isnull().sum() >10], axis=1)
    dataset.fillna(dataset.mean(), inplace=True)
    return dataset

In [125]:
def data_by_county( dataset, countries=None):
    """
    returns ready-to-use dataframe with economic indexes by country
    
    The data can be used for any economic prediction tasks.   
    
    """

    column = []
    if countries==None:
        return dataset
    else:
        for country in countries:
            for col in dataset.columns:
                if country in col:
                    column.append(col)
    return dataset[column]

In [129]:
# usage of pipelene
d = data_by_county(cleaning_data(get_merged_data()), ['BRA', 'ZWE'])

In [424]:
d.head(10)

Country Code,BRA GDP,BRA GDP per capita,BRA Agricultural land,BRA Rural pop.,ZWE GDP,ZWE GDP per capita,ZWE Agricultural land,ZWE Rural pop.
1960,210.027470,1.516557e+10,27.959874,38891711.0,280.994586,1.052990e+09,34.917175,3274901.0
1961,204.929302,1.523685e+10,18.010108,39315725.0,283.315869,1.096647e+09,28.396019,3374486.0
1962,260.225266,1.992629e+10,18.654031,39742281.0,279.440989,1.117602e+09,28.615743,3476215.0
1963,291.950589,2.302148e+10,19.323797,40154044.0,280.566213,1.159512e+09,28.835466,3571610.0
1964,261.331083,2.121189e+10,19.865784,40536437.0,285.053174,1.217138e+09,29.055189,3668154.0
1965,260.964693,2.179004e+10,20.386713,40883136.0,297.363437,1.311436e+09,29.223213,3765439.0
1966,315.277382,2.706272e+10,20.948919,41188409.0,281.490800,1.281750e+09,29.494636,3862905.0
1967,346.880100,3.059183e+10,21.486718,41456121.0,297.231875,1.397002e+09,29.714360,3960866.0
1968,374.083262,3.387588e+10,22.160792,41683417.0,304.982159,1.479600e+09,29.934083,4060357.0
1969,403.065252,3.745890e+10,23.184345,41876543.0,348.935805,1.747999e+09,30.153806,4163908.0

In [426]:
clean_d = data_by_county(cleaning_data(get_merged_data()))
clean_d.to_csv("data/data/clean_data.csv")

In [428]:
from sklearn import preprocessing
normalize = preprocessing.normalize(d)
normalize

array([[1.38156587e-08, 9.97594925e-01, 1.83920739e-09, 2.55830633e-03,
        1.84838931e-08, 6.92659679e-02, 2.29686036e-09, 2.15423795e-04],
       [1.34148348e-08, 9.97416615e-01, 1.17895593e-09, 2.57363857e-03,
        1.85460817e-08, 7.17873570e-02, 1.85882595e-09, 2.20896532e-04],
       [1.30388728e-08, 9.98428843e-01, 9.34680700e-10, 1.99133065e-03,
        1.40016977e-08, 5.59986559e-02, 1.43382322e-09, 1.74179571e-04],
       [1.26655876e-08, 9.98732488e-01, 8.38317347e-10, 1.74198848e-03,
        1.21717033e-08, 5.03026800e-02, 1.25095867e-09, 1.54945875e-04],
       [1.22997727e-08, 9.98355991e-01, 9.35000224e-10, 1.90788234e-03,
        1.34162733e-08, 5.72856490e-02, 1.36750753e-09, 1.72644829e-04],
       [1.19546789e-08, 9.98192016e-01, 9.33906433e-10, 1.87283865e-03,
        1.36220895e-08, 6.00763027e-02, 1.33870266e-09, 1.72493120e-04],
       [1.16368213e-08, 9.98879130e-01, 7.73220168e-10, 1.52025544e-03,
        1.03897658e-08, 4.73091023e-02, 1.08864077e-09, 1.42579004e-04],
       [1.13271619e-08, 9.98958019e-01, 7.01635919e-10, 1.35372480e-03,
        9.70592887e-09, 4.56182636e-02, 9.70304616e-10, 1.29339707e-04],
       [1.10322344e-08, 9.99046756e-01, 6.53552495e-10, 1.22930180e-03,
        8.99434700e-09, 4.36354539e-02, 8.82797638e-10, 1.19745561e-04],
       [1.07484972e-08, 9.98912361e-01, 6.18254399e-10, 1.11671721e-03,
        9.30503312e-09, 4.66136937e-02, 8.04108271e-10, 1.11038481e-04],
       [1.04798468e-08, 9.99010188e-01, 5.51765475e-10, 9.91998922e-04,
        8.59236087e-09, 4.44707776e-02, 7.16871867e-10, 1.00945802e-04],
       [1.02223614e-08, 9.99020762e-01, 4.84942882e-10, 8.55324831e-04,
        8.26646780e-09, 4.42354812e-02, 6.21148920e-10, 8.92487148e-05],
       [9.97522759e-09, 9.98955182e-01, 4.14131416e-10, 7.19817672e-04,
        8.25431674e-09, 4.56948574e-02, 5.24934359e-10, 7.71240588e-05],
       [9.73959919e-09, 9.99129751e-01, 3.10404385e-10, 5.31938326e-04,
        7.28242574e-09, 4.17067727e-02, 3.88815199e-10, 5.85536565e-05],
       [9.51070147e-09, 9.99283383e-01, 2.38855780e-10, 4.01197641e-04,
        6.39241796e-09, 3.78491424e-02, 2.95324210e-10, 4.53589614e-05],
       [9.28683889e-09, 9.99376236e-01, 2.06273641e-10, 3.40875219e-04,
        5.77449944e-09, 3.53132007e-02, 2.51739296e-10, 3.95847643e-05],
       [9.06970557e-09, 9.99600204e-01, 1.69202977e-10, 2.76039463e-04,
        4.48185218e-09, 2.82728681e-02, 2.04613138e-10, 3.28938857e-05],
       [8.85719980e-09, 9.99693249e-01, 1.48379126e-10, 2.38967504e-04,
        3.80903170e-09, 2.47659165e-02, 1.77710241e-10, 2.92041312e-05],
       [8.65015922e-09, 9.99765240e-01, 1.31075770e-10, 2.09319326e-04,
        3.23221620e-09, 2.16661334e-02, 1.56567605e-10, 2.62506317e-05],
       [8.44780362e-09, 9.99735264e-01, 1.18306100e-10, 1.86426040e-04,
        3.32398973e-09, 2.30079588e-02, 1.40317636e-10, 2.40376552e-05],
       [8.25023453e-09, 9.99596444e-01, 1.14127004e-10, 1.77947350e-04,
        3.96504620e-09, 2.84062729e-02, 1.34955405e-10, 2.36538246e-05],
       [8.05878426e-09, 9.99538329e-01, 1.02465724e-10, 1.58188514e-04,
        4.08811365e-09, 3.03826153e-02, 1.21071665e-10, 2.17321588e-05],
       [7.87366285e-09, 9.99540752e-01, 9.68556861e-11, 1.47474446e-04,
        3.92445985e-09, 3.03028580e-02, 1.14062826e-10, 2.09801668e-05],
       [7.69366881e-09, 9.99271562e-01, 1.34562095e-10, 2.03378507e-04,
        4.75381140e-09, 3.81615300e-02, 1.58946589e-10, 2.99598357e-05],
       [7.52660686e-09, 9.99538540e-01, 1.31546179e-10, 1.96800166e-04,
        3.64118153e-09, 3.03754464e-02, 1.55318598e-10, 3.00241851e-05],
       [7.36812983e-09, 9.99680453e-01, 1.23950186e-10, 1.83352203e-04,
        2.91927637e-09, 2.52775966e-02, 1.46511677e-10, 2.89591391e-05],
       [7.21830417e-09, 9.99731259e-01, 1.04408160e-10, 1.51285535e-04,
        2.58256255e-09, 2.31816108e-02, 1.22546221e-10, 2.47305627e-05],
       [7.07660993e-09, 9.99737368e-01, 9.59029454e-11, 1.36734389e-04,
        2.46594499e-09, 2.29167247e-02, 1.12393787e-10, 2.31228425e-05],
       [6.94242833e-09, 9.99720385e-01, 8.60473972e-11, 1.20511880e-04,
        2.46202879e-09, 2.36460680e-02, 1.00743077e-10, 2.10621150e-05],
       [6.81571346e-09, 9.99810510e-01, 6.72966454e-11, 9.25655561e-05,
        1.96578538e-09, 1.94662684e-02, 7.86711829e-11, 1.66912687e-05],
       [6.69437502e-09, 9.99819268e-01, 6.25642906e-11, 8.42967045e-05,
        1.86692795e-09, 1.90111382e-02, 7.27879605e-11, 1.56508219e-05],
       [6.57928544e-09, 9.99897280e-01, 4.86060985e-11, 6.37980971e-05,
        1.37246117e-09, 1.43326710e-02, 5.65082329e-11, 1.21698857e-05],
       [6.46888155e-09, 9.99858007e-01, 7.36721846e-11, 9.47316169e-05,
        1.57738904e-09, 1.68510389e-02, 8.61324620e-11, 1.85313521e-05],
       [6.36333327e-09, 9.99887624e-01, 6.81668689e-11, 8.54804697e-05,
        1.37460301e-09, 1.49910850e-02, 7.98198554e-11, 1.72012177e-05],
       [6.26106271e-09, 9.99923790e-01, 5.38929887e-11, 6.60875971e-05,
        1.11050811e-09, 1.23454609e-02, 6.35414400e-11, 1.36762340e-05],
       [6.16129484e-09, 9.99957278e-01, 4.01963422e-11, 4.72330744e-05,
        8.16526309e-10, 9.24336034e-03, 4.65696851e-11, 1.00452226e-05],
       [6.06348542e-09, 9.99949426e-01, 3.64387329e-11, 4.20742794e-05,
        8.73132689e-10, 1.00569711e-02, 4.32669374e-11, 9.19164592e-06],
       [5.96826160e-09, 9.99953368e-01, 3.51608232e-11, 3.97446115e-05,
        8.24691098e-10, 9.65713028e-03, 4.22000934e-11, 8.94463536e-06],
       [5.87629294e-09, 9.99972531e-01, 3.60299887e-11, 3.98343456e-05,
        6.23197267e-10, 7.41185460e-03, 4.34547638e-11, 9.23389109e-06],
       [5.78802344e-09, 9.99934549e-01, 5.20466493e-11, 5.62118778e-05,
        9.48310939e-10, 1.14409324e-02, 6.39962328e-11, 1.34150866e-05],
       [5.70461336e-09, 9.99947910e-01, 4.77159055e-11, 5.02980367e-05,
        8.35082585e-10, 1.02065890e-02, 5.93935973e-11, 1.23521319e-05],
       [5.62544494e-09, 9.99926607e-01, 5.63482555e-11, 5.86143806e-05,
        9.79702661e-10, 1.21151648e-02, 7.04221942e-11, 1.45521129e-05],
       [5.55046571e-09, 9.99922064e-01, 6.26168098e-11, 6.42583295e-05,
        9.98712454e-10, 1.24844300e-02, 7.87194811e-11, 1.60968199e-05],
       [5.47969973e-09, 9.99947383e-01, 5.75279010e-11, 5.81649301e-05,
        8.11949000e-10, 1.02580800e-02, 7.24545669e-11, 1.48255868e-05],
       [5.41285444e-09, 9.99962382e-01, 4.86431850e-11, 4.82420692e-05,
        6.78817075e-10, 8.67359265e-03, 6.17915960e-11, 1.25430544e-05],
       [5.34984639e-09, 9.99979168e-01, 3.65557441e-11, 3.59852845e-05,
        4.98806853e-10, 6.45457665e-03, 4.66755527e-11, 9.56227101e-06],
       [5.29059394e-09, 9.99987922e-01, 2.94649195e-11, 2.87651481e-05,
        3.74481881e-10, 4.91480019e-03, 3.80400439e-11, 7.82891637e-06],
       [5.23483448e-09, 9.99992826e-01, 2.32624333e-11, 2.26317776e-05,
        2.84159915e-10, 3.78782580e-03, 2.99741358e-11, 6.32169036e-06],
       [5.18189264e-09, 9.99996610e-01, 1.92959113e-11, 1.84930188e-05,
        1.92046673e-10, 2.60385886e-03, 2.50749979e-11, 5.31199784e-06],
       [5.13087311e-09, 9.99986626e-01, 1.96320043e-11, 1.86543612e-05,
        3.74478995e-10, 5.17177924e-03, 2.52754235e-11, 5.51929500e-06],
       [5.08134359e-09, 9.99989459e-01, 1.48120058e-11, 1.39563614e-05,
        3.25945570e-10, 4.59137262e-03, 1.89582111e-11, 4.26014967e-06],
       [5.03299601e-09, 9.99989307e-01, 1.25931932e-11, 1.16718187e-05,
        3.21435814e-10, 4.62438424e-03, 1.62041181e-11, 3.68350590e-06],
       [4.98593144e-09, 9.99983311e-01, 1.33759055e-11, 1.22660284e-05,
        3.92727635e-10, 5.77734790e-03, 1.69869341e-11, 4.00801294e-06],
       [4.94040431e-09, 9.99980478e-01, 1.34895375e-11, 1.21067586e-05,
        4.15062028e-10, 6.24855379e-03, 1.69345526e-11, 4.09996025e-06],
       [4.89674221e-09, 9.99979068e-01, 1.37660482e-11, 1.20629877e-05,
        4.19823171e-10, 6.47017826e-03, 1.70504595e-11, 4.23537185e-06],
       [4.85506333e-09, 9.99959078e-01, 1.87595056e-11, 1.62617772e-05,
        5.73391028e-10, 9.04664884e-03, 2.32352951e-11, 5.91909964e-06],
       [4.81552272e-09, 9.99957089e-01, 1.55846403e-11, 1.61555854e-05,
        5.73600207e-10, 9.26385099e-03, 1.94625918e-11, 6.09478180e-06],
       [4.77791840e-09, 9.99962314e-01, 1.36019194e-11, 1.39394315e-05,
        5.25207840e-10, 8.68163517e-03, 1.69865072e-11, 5.44913981e-06]])

### Data For first pipeline

In [391]:
df_coffee.head(5)

         date   value
0  1973-09-04  0.6432
1  1973-09-05  0.6370
2  1973-09-06  0.6360
3  1973-09-07  0.6380
4  1973-09-10  0.6335

In [392]:
def make_average_monthly_data(df_coffee, month):
    date_value = {}
    counter = 0
    loc = 0
    loc_count = 0
    for index, row in df_coffee.iterrows():
        
        if month[counter] in row['date'] :

            if month[counter] not in date_value:
                date_value[month[counter]] = []
            loc_count += 1
            loc+= row[' value']
        else:

            date_value[month[counter]].append(loc/loc_count)
            loc = 0
            loc_count=0
            if '2018-12' in row['date']:
                break
            loc += row[' value']
            loc_count += 1
            counter += 1

    df = pd.DataFrame.from_dict(date_value, orient='index', columns=["coffee price"])
    
    return df

In [393]:
df = make_average_monthly_data(df_coffee,df_cpi['TIME'] )
df = df.sort_index()

In [394]:
df_cpi.head(25)

   LOCATION INDICATOR SUBJECT MEASURE FREQUENCY     TIME      Value Flag Codes
0       AUT       CPI     TOT  AGRWTH         M  1973-09   6.543496        NaN
1       AUT       CPI     TOT  AGRWTH         M  1973-10   7.012194        NaN
2       AUT       CPI     TOT  AGRWTH         M  1973-11   7.966616        NaN
3       AUT       CPI     TOT  AGRWTH         M  1973-12   7.849054        NaN
4       AUT       CPI     TOT  AGRWTH         M  1974-01   8.128263        NaN
5       AUT       CPI     TOT  AGRWTH         M  1974-02   8.389013        NaN
6       AUT       CPI     TOT  AGRWTH         M  1974-03   8.962962        NaN
7       AUT       CPI     TOT  AGRWTH         M  1974-04   9.741698        NaN
8       AUT       CPI     TOT  AGRWTH         M  1974-05   9.632352        NaN
9       AUT       CPI     TOT  AGRWTH         M  1974-06  10.218980        NaN
10      AUT       CPI     TOT  AGRWTH         M  1974-07  10.043670        NaN
11      AUT       CPI     TOT  AGRWTH         M  1974-08   9.905999        NaN
12      AUT       CPI     TOT  AGRWTH         M  1974-09  10.115610        NaN
13      AUT       CPI     TOT  AGRWTH         M  1974-10   9.971509        NaN
14      AUT       CPI     TOT  AGRWTH         M  1974-11   9.416725        NaN
15      AUT       CPI     TOT  AGRWTH         M  1974-12   9.657104        NaN
16      AUT       CPI     TOT  AGRWTH         M  1975-01   9.241379        NaN
17      AUT       CPI     TOT  AGRWTH         M  1975-02   9.589040        NaN
18      AUT       CPI     TOT  AGRWTH         M  1975-03   9.245413        NaN
19      AUT       CPI     TOT  AGRWTH         M  1975-04   8.607933        NaN
20      AUT       CPI     TOT  AGRWTH         M  1975-05   8.584843        NaN
21      AUT       CPI     TOT  AGRWTH         M  1975-06   8.344373        NaN
22      AUT       CPI     TOT  AGRWTH         M  1975-07   8.928571        NaN
23      AUT       CPI     TOT  AGRWTH         M  1975-08   8.815792        NaN
24      AUT       CPI     TOT  AGRWTH         M  1975-09   8.727035        NaN

In [395]:
names = cpi.LOCATION.unique()
cpi = df_cpi.drop(['SUBJECT', 'INDICATOR', 'MEASURE', 'Flag Codes', 'FREQUENCY' ], axis=1)

In [396]:
def insert_data(list_of_countries, location, value):
    for c in list_of_countries:
        loc_df = df_cpi.loc[df_cpi[location] == c]
        df.insert(loc=1, column='{} CPI'.format(c), value=[i for i in loc_df[value]])

In [397]:
print(names)

['AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'ISL' 'IRL'
 'ITA' 'JPN' 'KOR' 'LUX' 'MEX' 'NLD' 'NOR' 'POL' 'PRT' 'SVK' 'ESP' 'SWE'
 'CHE' 'TUR' 'GBR' 'USA' 'BRA' 'CHL' 'CHN' 'EST' 'IND' 'IDN' 'ISR' 'RUS'
 'SVN' 'ZAF' 'OECD' 'OECDE' 'G-7' 'COL' 'LVA' 'SAU' 'EU28' 'EA19' 'ARG'
 'LTU' 'CRI' 'G-20']

In [398]:
insert_data(['USA', 'IND', 'IDN', 'COL'], 'LOCATION', 'Value')
df.head()

         coffee price   COL CPI   IDN CPI   IND CPI   USA CPI
1973-09      0.652700  22.72727  44.00000  19.25078  7.363420
1973-10      0.659552  22.72727  42.30769  21.55440  7.801418
1973-11      0.646810  27.27273  30.63584  23.29897  8.254717
1973-12      0.670937  27.27273  27.17391  23.81443  8.705882
1974-01      0.716991  26.08696  42.54144  25.67010  9.389671

In [407]:
df_disaster.head(25)

,Start date,End date,Country,ISO,Location,Latitude,Longitude,Magnitude value,Magnitude scale,Disaster type,Disaster subtype,Disaster name,Disaster No.
0,26/03/1973,26/03/1973,Brazil,BRA,"East, Central, along Cartinga",NaN,NaN,NaN,Km2,Flood,--,NaN,1973-0019
1,/03/1974,/03/1974,Brazil,BRA,Most of the country,NaN,NaN,NaN,Km2,Flood,--,NaN,1974-0015
2,/05/1974,/05/1974,Brazil,BRA,North East (Ceara),NaN,NaN,NaN,NaN,Landslide,Landslide,NaN,1974-0024
3,23/10/1974,23/10/1974,Brazil,BRA,Sao Tome,NaN,NaN,NaN,NaN,Landslide,Landslide,NaN,1974-0053
4,01/01/1974,01/01/1974,Brazil,BRA,Sao Paulo,NaN,NaN,NaN,Vaccinated,Epidemic,Bacterial disease,NaN,1974-0127
5,/07/1975,/07/1975,Brazil,BRA,Parana,NaN,NaN,NaN,ï¿½C,Extreme temperature,Cold wave,NaN,1975-0039
6,18/07/1975,18/07/1975,Brazil,BRA,"Pernambuco, Recife (North East areas)",NaN,NaN,NaN,Km2,Flood,--,NaN,1975-0042
7,/07/1975,/07/1975,Brazil,BRA,"Pernambuco, Recife (North East areas)",NaN,NaN,NaN,Vaccinated,Epidemic,Bacterial disease,NaN,1975-0068
8,/12/1975,/12/1975,Brazil,BRA,NaN,NaN,NaN,NaN,ï¿½C,Extreme temperature,Heat wave,NaN,1975-0145
9,/05/1977,/05/1977,Brazil,BRA,Recife,NaN,NaN,NaN,Km2,Flood,--,NaN,1977-0061
10,17/06/1977,17/06/1977,Brazil,BRA,"Aracaju, Sergipe",NaN,NaN,NaN,Kph,Storm,--,NaN,1977-0077
11,09/08/1977,09/08/1977,Brazil,BRA,Rio Grande Do Sul,NaN,NaN,NaN,Km2,Flood,--,NaN,1977-0105
12,/01/1977,/01/1977,Brazil,BRA,NaN,NaN,NaN,NaN,Km2,Flood,--,NaN,1977-0232
13,//1977,//1977,Brazil,BRA,North East,NaN,NaN,NaN,Km2,Drought,Drought,NaN,1977-9006
14,/01/1978,/01/1978,Brazil,BRA,South Eastern,NaN,NaN,NaN,Km2,Flood,--,NaN,1978-0006
15,//1978,//1978,Brazil,BRA,Central and Southern,NaN,NaN,NaN,Km2,Drought,Drought,NaN,1978-9005
16,/01/1979,/01/1979,Brazil,BRA,"Minas Gerais, Espirito Santo (East-Central)",NaN,NaN,NaN,Km2,Flood,--,NaN,1979-0003
17,//1979,//1979,Brazil,BRA,Northeastern,NaN,NaN,NaN,Km2,Drought,Drought,NaN,1979-9012
18,/01/1980,/01/1980,Brazil,BRA,Minas Gerais state,NaN,NaN,NaN,Km2,Flood,--,NaN,1980-0008
19,/02/1980,/02/1980,Brazil,BRA,"North, Central",NaN,NaN,NaN,Km2,Flood,--,NaN,1980-0031
20,25/06/1980,25/06/1980,Brazil,BRA,Irati town,NaN,NaN,NaN,Kph,Storm,Convective storm,NaN,1980-0054
21,/04/1981,/04/1981,Brazil,BRA,NorthEastern,NaN,NaN,NaN,Km2,Flood,--,NaN,1981-0041
22,02/12/1981,02/12/1981,Brazil,BRA,Rio de Janeiro state,NaN,NaN,NaN,Km2,Flood,--,NaN,1981-0105
23,/06/1982,/06/1982,Brazil,BRA,Parana state,NaN,NaN,NaN,Kph,Storm,--,NaN,1982-0071
24,/01/1983,/01/1983,Brazil,BRA,Minas Gerais state,NaN,NaN,NaN,Km2,Flood,--,NaN,1983-0001

In [411]:
disaster = df_disaster.drop(['Location', 'Latitude','Longitude','Magnitude value','Magnitude scale', 'Disaster name', 'Disaster subtype', 'Disaster No.', 'Country'],
                            axis=1).drop([2392, 2393, 2394, 2395], axis=0)

In [429]:
disaster = disaster.rename(columns={'Disaster type': 'disaster'})
disaster.ISO.unique()

array(['BRA', 'COL', 'ETH', 'GTM', 'HND', 'IND', 'IDN', 'MEX', 'PER',
       'UGA', 'VNM'], dtype=object)

In [423]:
disaster.disaster.unique()

array(['Flood', 'Landslide', 'Epidemic', 'Extreme temperature ', 'Storm',
       'Drought', 'Earthquake', 'Insect infestation', 'Wildfire',
       'Mass movement (dry)', 'Volcanic activity'], dtype=object)

In [ ]:
df.to_csv("data/data/data_for_renges.csv")

**Coffee price - mentions in media dependency**

I have done an experiment which aims to discover dependency between mentions a word “coffee” and similar words in media.
The experiment didn’t show any results because of a leak of data.
Where to find the data:

    -scrap the reuters.com archive(https://www.reuters.com/resources/archive/) (scraped less than 30 days before the site was down)
    
    -use a framework to access and analyze Global Database of Events, Language, and Tone (GDELT) 1.0 or 2.0  (github.com/linwoodc3/gdeltPyR)
    
Why experiment was not a successful ?
For this task not enough scraped data from reuters.com,
search for keywords (‘coffee’ and similar) in Global Database of Events didn’t show any results, even on International Coffee Day. Data collected there has some specification on events, not on the media.

## Data description


- **GDP** - GDP (current US)
- **GDP per capita** - (current US)
- **Agricultural land** - (% of land area)
- **Rural population**
- **ICO** - mounthly
- **Disaster** - Geophysical(Volcanic activity, Mass movement(dry), Landslide, Earthquake); Climatological (Wildfire, Drought); Biological (Epidemia, Insect infestation); Meteorogical (Extreme temperature, Storm, Fog)

### Data sources :

- www.ico.org - International Coffe Organization
- www.emdat.be - Université Catholique de Louvain's disaster database
- https://data.oecd.org/
- https://data.worldbank.org/

## Results:

- clean data in csv format ("data/data/clean_data.csv")
- monthly data in csv format ("data/data/data_for_renges.csv")