In [61]:
import pandas as pd

In [62]:
df_year = pd.read_csv("data.csv").drop(columns=["Unnamed: 0"])
df_two_month = pd.read_excel("pr-market-prices.xlsx")

# Give them the same column names
df_two_month.columns = df_year.columns
# Change index of last two month
df_two_month.index = range(len(df_year), len(df_year) + len(df_two_month))

In [63]:
df_two_month.head(1)

,date,composite_ind,columbian_milds,other_milds,brazilian_nat,robustas
300,2018-10-01,101.04,128.25,124.28,102.93,79.38

In [64]:
# Make datetime in last two month a string obj
df_two_month.date = df_two_month.date.dt.strftime("%Y-%m-%d")
df = pd.concat([df_year, df_two_month])
df.head()

,date,composite_ind,columbian_milds,other_milds,brazilian_nat,robustas
0,2017-08-01,130.82,158.74,153.49,136.18,104.83
1,2017-08-02,133.23,162.06,156.95,139.18,105.86
2,2017-08-03,133.11,161.91,156.81,139.15,105.69
3,2017-08-04,133.05,161.81,156.85,138.97,105.67
4,2017-08-07,134.72,163.77,158.87,141.04,106.73

In [65]:
# Save data to csv file
df.to_csv("daily_coffee_price.csv")